<div class="checkout-btns">
    <button type="button" class="generic-button btn-1 facturacion not-ready btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
        Volver
    </button>
    <button type="button" class="generic-button btn-2 facturacion btn-next">
        <code>Continuar</code><div class="btn-loader"></div>
    </button>
</div>