{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Carrito - Twinstore</title>
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}" />
    <link rel="stylesheet" href="{% static 'css/substyles/quantity.css' %}" />
{% endblock head %}

{% block contenidomain %}
<main class="padding-1rem">
    <div class="cart-box flex justify-between gap-1rem" id="carrito-box">
        {% if not empty %}
            <div class="cart-items flex flex-column justify-between">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="cart-responsive-hide">Precio</th>
                            <th>Cantidad</th>
                            <th class="cart-responsive-hide">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cart-divider-main" colspan="4"></td>
                        </tr>
                        {% if carrito.pedidos.all %}
                            {% for pedido in carrito.pedidos.all %}
                            <tr class="items-center">
                                <td class="cart-prod flex items-center">
                                    <div class="cart-prod-responsive flex items-center position-relative gap-05rem">
                                        <a href="#" class="cart-prod-delete bloqueable" data-pedido-id="{{ pedido.id }}"><i class="bi bi-x-circle"></i></a>
                                        <img src="{{ pedido.producto.portada.url }}" alt="{{ pedido.producto.nombre }}" class="cart-prod-img" loading="lazy">
                                    </div>
                                    <div class="cart-prod-cantidad flex flex-column">
                                        <span>{{ pedido.producto.nombre }}</span>
                                        <p class="display-none"><span>{{pedido.get_cantidad}} x </span>${{pedido.producto.precio}}</p>
                                    </div>
                                </td>
                                <td class="cart-price-sub">${{ pedido.producto.precio }}</td>
                                <td>
                                    <div class="flex items-center justify-center quantity-container bloqueable" data-pedido-id="{{ pedido.id }}" data-precio="{{ pedido.producto.precio }}">
                                        <button type="button" name="action" data-action="decrement" class="btn-cantidad"><i class="bi bi-dash"></i></button>
                                        <input type="text" class="input-value-cart" name="cantidad" value="{{ pedido.cantidad }}" readonly>
                                        <button type="button" name="action" data-action="increment" class="btn-cantidad"><i class="bi bi-plus"></i></button>
                                    </div>
                                </td>
                                <td class="cart-price-sub cart-total-precio">${{ pedido.get_total_precio }}</td>
                            </tr>
                            <tr>
                                <td class="cart-divider-prod" colspan="4"></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            {% for pedido in carrito %}
                            <tr class="items-center">
                                <td class="cart-prod flex items-center">
                                    <div class="cart-prod-responsive flex items-center position-relative gap-05rem">
                                        <a href="#" class="cart-prod-delete bloqueable" data-pedido-id="{{ pedido.id }}"><i class="bi bi-x-circle"></i></a>
                                        <img src="{{ pedido.imagen_url }}" alt="{{ pedido.producto.nombre }}" class="cart-prod-img" loading="lazy">
                                    </div>
                                    <div class="cart-prod-cantidad flex flex-column">
                                        <span>{{ pedido.producto.nombre }}</span>
                                        <p class="display-none"><span>{{pedido.cantidad}} x </span>${{pedido.producto.precio}}</p>
                                    </div>
                                </td>
                                <td class="cart-price-sub">${{ pedido.producto.precio }}</td>
                                <td>
                                    <div class="flex items-center justify-center quantity-container bloqueable" data-pedido-id="{{ pedido.id }}" data-precio="{{ pedido.producto.precio }}">
                                        <button type="button" name="action" data-action="decrement" class="btn-cantidad"><i class="bi bi-dash"></i></button>
                                        <input type="text" class="input-value-cart" name="cantidad" value="{{ pedido.cantidad }}" readonly>
                                        <button type="button" name="action" data-action="increment" class="btn-cantidad"><i class="bi bi-plus"></i></button>
                                    </div>
                                </td>
                                <td class="cart-price-sub cart-total-precio">${{ pedido.total_precio }}</td>
                            </tr>
                            <tr>
                                <td class="cart-divider-prod" colspan="4"></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <a href="{% url 'core:home' %}" class="continue-shopping decoration-none bloqueable"><i class="bi bi-arrow-left"></i>  SEGUIR COMPRANDO</a>
            </div>
            <div class="cart-divider-side"></div>
            <div class="cart-finish flex flex-column justify-between">
                <table class="cart-finish-table">
                    <caption>Total del Carrito</caption>
                    <tbody>
                        <tr class="cart-finish-info">
                            <th>Subtotal</th>
                            <td id="cart-subtotal">${{ total_precio }}</td>
                        </tr>
                        <tr>
                            <td class="cart-divider-prod" colspan="2"></td>
                        </tr>
                        <tr class="cart-finish-info">
                            <th>Envío</th>
                            <td class="cart-finish-shipping"><a href="#" id="cotizar-envio" class="decoration-none font-roboto cotizar-envio">Cotizar envío</a></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="cart-divider-prod" colspan="2"></td>
                        </tr>
                        <tr class="cart-finish-info total-row">
                            <th class="cart-finish-th">Total</th>
                            <td id="cart-total">${{ total_precio }}</td>
                        </tr>
                        <tr>
                            <td class="cart-divider-main" colspan="2"></td>
                        </tr>
                    </tfoot>
                </table>
                <div>
                    <a href="{% url 'cart:realizar_pedido' %}" class="decoration-none cart-finish-button cart-finish-comprar bloqueable">Finalizar compra</a>
                    <a href="{% url 'cart:presupuestar' %}" target="_blank" class="decoration-none cart-finish-button cart-finish-presupuesto bloqueable">Presupuestar</a>
                </div>
            </div>
        {% else %}
            <p class="cart-empty-msg">Tu carrito esta vacio</p>
            <a href="{% url 'core:home' %}" class="decoration-none cart-volver-tienda">Volver a la tienda</a>
        {% endif %}
    </div>
</main>

{% endblock contenidomain %}

{% block myscripts %}
<script src="{% static 'js/carrito.js' %}"></script>
{% endblock myscripts %}