{% extends 'base.html' %}

{% block head %}
    <title>Carrito - Funestore</title>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
{% endblock head %}

{% block section %}
{% endblock section %}

{% block contenidomain %}
<div class="cart-box flex justify-between gap-1rem">
    {% if carrito.pedidos.all %}
        <div class="cart-items flex flex-column justify-between gap-1rem">
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th class="cart-responsive-hide">Precio</th>
                        <th>Cantidad</th>
                        <th class="cart-responsive-hide">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart-divider-main" colspan="4"></td>
                    </tr>
                    {% for pedido in carrito.pedidos.all %}
                    <tr class="items-center">
                        <td class="cart-prod flex items-center">
                            <div class="cart-prod-responsive flex items-center">
                                <a href="{% url 'cart:eliminar' pedido_id=pedido.id %}"><i class="bi bi-x-circle cart-prod-delete"></i></a>
                                <img src="{{ pedido.get_prod_img }}" alt="{{ pedido.producto.nombre }}" class="cart-prod-img">
                            </div>
                            <div class="cart-prod-cantidad flex flex-column">
                                <span>{{ pedido.producto.nombre }}</span>
                                <p class="display_none"><span>{{pedido.get_cantidad}} x </span>${{pedido.producto.precio}}</p>
                            </div>
                        </td>
                        <td class="cart-price-sub">${{ pedido.producto.precio }}</td>
                        <td>
                            <form method="POST" action="{% url 'cart:update' pedido.id %}">
                                {% csrf_token %}
                                <div class="quantity-container">
                                    <button type="submit" name="action" value="decrement"><i class="bi bi-dash"></i></button>
                                    <input type="text" name="cantidad" value="{{ pedido.cantidad }}" readonly>
                                    <button type="submit" name="action" value="increment"><i class="bi bi-plus"></i></button>
                                </div>
                            </form>
                        </td>
                        <td class="cart-price-sub">${{ pedido.get_total_precio }}</td>
                    </tr>
                    <tr>
                        <td class="cart-divider-prod" colspan="4"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'core:home' %}" class="continue-shopping decoration-none"><i class="bi bi-arrow-left"></i>  SEGUIR COMPRANDO</a>
        </div>
        <div class="cart-divider-side"></div>
        <div class="cart-finish flex flex-column">
            <table class="cart-finish-table">
                <caption>Total del Carrito</caption>
                <tbody>
                    <tr class="cart-finish-info">
                        <th>Subtotal</th>
                        <td>${{ total_precio }}</td>
                    </tr>
                    <tr>
                        <td class="cart-divider-prod" colspan="2"></td>
                    </tr>
                    <tr class="cart-finish-info">
                        <th>Envío</th>
                        <td class="cart-finish-shipping">Calcular envío</td>
                    </tr>
                    <tr>
                        <td class="cart-divider-prod" colspan="2"></td>
                    </tr>
                    <tr class="cart-finish-info">
                        <th>Costo de envio</th>
                        <td>$0.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="cart-divider-prod" colspan="2"></td>
                    </tr>
                    <tr class="cart-finish-info total-row">
                        <th class="cart-finish-th">Total</th>
                        <td>${{ total_precio }}</td>
                    </tr>
                    <tr>
                        <td class="cart-divider-main" colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
            <a href="{% url 'cart:realizar_pedido' %}" class="decoration-none cart-finish-button cart-finish-comprar">Finalizar compra</a>
            <a href="#" class="decoration-none cart-finish-button cart-finish-presupuesto">Presupuestar</a>
        </div>
    {% else %}
        <p class="cart-empty-msg">Tu carrito esta vacio</p>
        <a href="{% url 'core:home' %}" class="decoration-none cart-volver-tienda">Volver a la tienda</a>
    {% endif %}
</div>
{% endblock contenidomain %}

{% block contacto %}
{% endblock contacto %}