<!-- * My URLS -->
{% load static %}
<script nonce="{{ request.csp_nonce }}">
    window.api = {
        agregarAlCarrito: "{% url 'cart:api_agregar_carrito' %}",
        eliminarPedido: "{% url 'cart:api_eliminar_pedido' %}",
        verCarrito : "{% url 'cart:ver_carrito' %}",
        calcularPedido:"{% url 'cart:api_calcular_pedido' %}",
        actualizarPedido:"{% url 'cart:api_actualizar_pedido' %}",
        imgMP: "{% static 'img/mercado_pago.webp' %}",
        finalizarCompra: "{% url 'cart:realizar_pedido' %}",
        recibirMail: "{% url 'users:recibir_mail' %}",
        enviarWtap: "{% url 'cart:enviar_wtap' %}",
    };
</script>

