{% load static %}
    <!-- * Carousel -->
    <div class="carousel position-relative overflow-hidden">
        <div class="carousel-track flex height-100">
            <picture>
                <source media="(max-width: 768px)" srcset="{% static 'img/banner_1_mobile.webp' %}">
                <img src="{% static 'img/banner_1.webp' %}" alt="Banner 1" fetchpriority="high" class="height-100">
            </picture>
            <picture>
                <source media="(max-width: 768px)" srcset="{% static 'img/banner_2_mobile.webp' %}">
                <img src="{% static 'img/banner_2.webp' %}" alt="Banner 2" loading="lazy" class="height-100">
            </picture>
            <picture>
                <source media="(max-width: 768px)" srcset="{% static 'img/banner_3_mobile.webp' %}">
                <img src="{% static 'img/banner_3.webp' %}" alt="Banner 3" loading="lazy" class="height-100">
            </picture>
            <picture>
                <source media="(max-width: 768px)" srcset="{% static 'img/banner_3_mobile.webp' %}">
                <img src="{% static 'img/banner_4.webp' %}" alt="Banner 3" loading="lazy" class="height-100">
            </picture>
        </div>
    </div>
    <div class="carousel-timer">
        <div class="carousel-timer-fill"></div>
    </div>
    <!-- * -------- -->