<ul class="menu position-fixed list-none">
    <li><div class="flex justify-between menu-title">Twinstore<i class="bi bi-x-lg"></i></div></li>
    <li class="dropdown-mobile">
        <span class="toggle">Productos<i class="bi bi-chevron-down"></i></span>
        <ul class="submenu">
            {% for title,html in render_menu_mobile.items %}
            <li class="dropdown-mobile">
                <span class="toggle"><div class="menu-subtitle">{{title|capfirst}}</div><i class="bi bi-chevron-down"></i></span>
                <ul class="submenu">
                {% for item in html %}
                    {{item}}
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li><span><a href="{% url 'users:buscar_pedidos' %}">Pedidos</a></span></li>
    <li><span><a href="{% url 'core:quienes_somos' %}">Quiénes somos</a></span></li>
    <li><span><a href="{% url 'core:local' %}">Punto de retiro</a></span></li>
    <li><span><a href="{% url 'core:servicio_tecnico' %}">Servicio técnico</a></span></li>
    <li><span><a href="{% url 'core:contacto' %}">Contacto</a></span></li>
</ul>