{% load static %}
<script src="{% static 'js/base.js' %}"></script>
<script nonce="{{ request.csp_nonce }}">
    const categorias = {
        'prod_item-componentes': `
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Hardware</a>
                <a href="#" class="hover-pad-weight">Gabinetes</a>
                <a href="#" class="hover-pad-weight">Placas de video</a>
                <a href="#" class="hover-pad-weight">Motherboards</a>
                <a href="#" class="hover-pad-weight">Procesadores</a>
                <a href="#" class="hover-pad-weight">Fuentes</a>
                <a href="#" class="hover-pad-weight">Memoria Ram</a>
            </div>
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Almacenamiento</a>
                <a href="#" class="hover-pad-weight">Discos Rigidos</a>
                <a href="#" class="hover-pad-weight">Discos SSD</a>
                <a href="#" class="hover-pad-weight">Discos Externos</a>
            </div>
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Otros</a>
                <a href="#" class="hover-pad-weight">Coolers</a>
            </div>
        `,
        'prod_item-computos': `
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Computadoras</a>
                <a href="#" class="hover-pad-weight">Combos de PC</a>
                <a href="#" class="hover-pad-weight">Notebooks</a>
            </div>
        `,
        'prod_item-accesorios': `
            <div class="result-productos-column flex">
                <a href="{% url 'products:slug_dispatcher' slug='perifericos' %}" class="result-productos-titulo">Periféricos</a>
                <a href="{% url 'products:categoria_subcategoria' categoria='perifericos' subcategoria='p-teclados' %}" class="hover-pad-weight">Teclados</a>
                <a href="{% url 'products:categoria_subcategoria' categoria='perifericos' subcategoria='p-mouse' %}" class="hover-pad-weight">Mouses</a>
                <a href="#" class="hover-pad-weight">Auriculares</a>
                <a href="#" class="hover-pad-weight">Parlantes</a>
                <a href="#" class="hover-pad-weight">Webcams</a>
                <a href="#" class="hover-pad-weight">Micrófonos</a>
                <a href="#" class="hover-pad-weight">Monitores</a>
            </div>
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Accesorios</a>
                <a href="#" class="hover-pad-weight">Mouse PAD</a>
            </div>
        `,
        'prod_item-celulares': `
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Android</a>
                <a href="#" class="hover-pad-weight">Impresoras</a>
                <a href="#" class="hover-pad-weight">Escáneresaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                <a href="#" class="hover-pad-weight">Cartuchos</a>
                <a href="#" class="hover-pad-weight">Papel</a>
            </div>
            <div>
            </div>
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Tablets</a>
                <a href="#" class="hover-pad-weight">Impresoras</a>
                <a href="#" class="hover-pad-weight">Escáneres</a>
                <a href="#" class="hover-pad-weight">Cartuchos</a>
                <a href="#" class="hover-pad-weight">Papel</a>
            </div>
        `,
        'prod_item-impresion': `
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Impresoras</a>
                <a href="#" class="hover-pad-weight">Consolas</a>
                <a href="#" class="hover-pad-weight">Videojuegos</a>
                <a href="#" class="hover-pad-weight">Accesorios de Gaming</a>
            </div>
            <div class="result-productos-column flex">
                <a href="#" class="result-productos-titulo">Insumos</a>
                <a href="#" class="hover-pad-weight">Consolas</a>
                <a href="#" class="hover-pad-weight">Videojuegos</a>
                <a href="#" class="hover-pad-weight">Accesorios de Gaming</a>
            </div>
        `
    };
</script>
