.django-msg-info {color:rgb(58 132 218);
    font-size:1rem}
    
.django-msg-error {color: crimson;
    font-size: 0.8rem;}

.django-msg-success {color: #3caf41;
    display: block; font-size: 1rem;}

.django-msg-warning {color: #80702b;
    display: block; font-size: 1rem;}