
    {% for nombre_atributo, valores in atributos_unicos.items %}
        {% if nombre_atributo not in request.GET %}
        <div>
        <span class="filter-title">{{nombre_atributo}}</span>
        <ul class="list-none">
        {% for valor in valores %}
            <li>
                <a class="decoration-none filter-link"
                href="?{{ nombre_atributo }}={{ valor }}{% for key, val in request.GET.items %}{% if key != nombre_atributo %}&{{ key }}={{ val }}{% endif %}{% endfor %}">
                {{ valor }}
                </a></li>
        {% endfor %}
        </ul>
    </div>
        {% endif %}
    {% endfor %}