{% for nombre_atributo, valores in atributos_unicos.items %}
    {% if nombre_atributo not in request.GET %}
        <div>
            <span class="filter-title-gaming display-block font-bold width-100">{{ nombre_atributo }}</span>
            <ul class="list-none">
                {% for valor in valores %}
                    <li>
                        <a class="decoration-none filter-link bloqueable color-fff gamio"
                            href="?{% for key, val in request.GET.items %}{% if key != nombre_atributo %}{{ key }}={{ val|urlencode }}&{% endif %}{% endfor %}{{ nombre_atributo }}={{ valor|urlencode }}">
                            {{ valor }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endfor %}
