{% load static %}
{% if producto.descuento > 0 %}
    <div class="descuento-box font-roboto position-absolute">
        <i class="bi bi-tag-fill icon-descuento position-absolute"></i>
        <span class="texto-descuento position-absolute">-{{ producto.descuento }}%</span>
    </div>
{% endif %}
<a href="{% url 'products:slug_dispatcher' producto.slug %}" class="decoration-none">
    <div class="flex items-center justify-center product-card-img">
        <img src="{% static 'img/prod_default.webp' %}" alt="{{ producto.nombre }}" loading="lazy">
    </div>
    <span>{{ producto.nombre }}</span>
    {% if producto.descuento > 0 %}
        <div class="product-descount-box">
            <p class="precio-anterior">${{ producto.precio_anterior|floatformat:0 }}</p>
            <p class="precio-descuento font-roboto">
                ${{ producto.precio|floatformat:0 }}
            </p>
        </div>
    {% else %}
        <p class="prod-precio font-roboto font-bold text-center">${{producto.precio|floatformat:0}}</p>
    {% endif %}
    <strong>Agregar al carrito</strong>
</a>
