<div class="ordenar-box-mobile display-none position-absolute width-100">
    <a href="#" data-orden="date" class="ordenar-opcion display-block decoration-none margin-1rem font-roboto">Por los Últimos</a>
    <a href="#" data-orden="price_higher" class="ordenar-opcion display-block decoration-none margin-1rem font-roboto">Por precio: Mayor a menor</a>
    <a href="#" data-orden="price_lower" class="ordenar-opcion display-block decoration-none margin-1rem font-roboto">Por precio: Menor a mayor</a>
</div>