{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Compra denegada - Twinstore</title>
{% endblock head %}

{% block headend %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}">
{% endcompress %}
{% endblock headend %}

{% block contenidomain %}
<main class="padding-1rem">
    <div class="flex font-roboto flex-column users-feedback-box">
        <h2 class="text-center">❌ ¡Ups! Algo salió mal. ❌</h2>
        <p>No pudimos procesar tu pago o el mismo fue rechazado.</p>
        <div>
            <p>Te recomendamos:</p>
            <ul class="users-failpay">
                <li><i class="bi bi-check"></i> Verificar los datos de tu medio de pago.</li>
                <li><i class="bi bi-check"></i> Volver a intentarlo en unos minutos.</li>
                <li><i class="bi bi-check"></i> Si el problema persiste, contáctanos a <span class="users-email-link">help@twinstore.com.ar</span>.</li>
            </ul>
        </div>
        <div class="flex justify-between">
            <a href="{% url 'core:home' %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer users-confirm-links">Volver a la tienda</a>
            <a href="{% url 'cart:ver_carrito' %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer users-confirm-links">Volver al carrito</a>
        </div>
    </div>
</main>
{% endblock contenidomain %}
