{% extends 'base.html' %}
{% load static compress custom_filters %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Checkout - {{config.nombre_tienda}}</title>
{% endblock head %}

{% block content %}
<div class="generic-box checkout">
    {% include 'checkout/bar-track.html' %}
    <section class="generic-data checkout">
        {% include 'checkout/facturacion.html' with hidden=False %}
        {% include 'checkout/envio.html' with hidden=True %}
        {% include 'checkout/pago.html' with hidden=True %}
        {% include 'checkout/confirmacion.html' with hidden=True %}
        {% include 'checkout/resume.html' %}
    </section>
    {% include 'checkout/buttom-btns.html' %}
</div>
{% endblock content %}

{% block myscripts %}
{% compress js %}
<script src="{% static 'js/perfil-get.js' %}"></script>
<script src="{% static 'js/checkout/base.js' %}"></script>
<script src="{% static 'js/checkout/handlers.js' %}"></script>
<script src="{% static 'js/checkout/bartrack.js' %}"></script>
<script src="{% static 'js/checkout/pago.js' %}"></script>
<script src="{% static 'js/checkout/shipping.js' %}"></script>
<script src="{% static 'js/checkout/facturacion.js' %}"></script>
{% endcompress %}
{% endblock myscripts %}