{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load compress %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
    <title>Facturacion - Twinstore</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/facturacion.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms-ts.css' %}">
    <link rel="stylesheet" href="{% static 'css/substyles/mp-button.css' %}">
    {% endcompress %}
{% endblock head %}

{% block theme %}black{% endblock theme %}

{% block contenidomain %}
<div class="padding-1rem">
    <form class="users-perfil flex font-roboto width-100" method="post" action="{% url 'cart:realizar_pedido' %}">
        {% csrf_token %}
        <div class="users-perfil-facturacion flex flex-column gap-1rem">
            <h2 class="font-roboto">Detalles de facturación</h2>
            <span class="font-roboto">Personales **</span>
            <select name="{{ form.condicion_iva.html_name }}" id="{{ form.condicion_iva.id_for_label }}" class="users-select bloqueable font-roboto" required>
                <option value="" selected disabled>Condición frente al IVA *</option>
                {% for value, label in form.condicion_iva.field.choices %}
                    {% if value %}
                        <option value="{{ value }}" {% if form.condicion_iva.value == value %}selected{% endif %}>{{ label }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div id="dni_cuit_container" class="container-form display-none">
                {{form.dni_cuit}}
                <label for="{{ form.dni_cuit.id_for_label }}" id="dni_cuit_label" class="form-label">{{form.dni_cuit.label}}</label>
                <div class="error display-none" id="dni_cuit_error"></div>
                {% for error in form.dni_cuit.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div id="razon_social_container" class="container-form display-none">
                {{form.razon_social}}
                <label for="{{ form.razon_social.id_for_label }}" class="form-label">{{form.razon_social.label}}</label>
                <div class="error display-none" id="razon_social_error"></div>
                {% for error in form.razon_social.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="container-form">
                {{form.nombre}}
                <label for="{{ form.nombre.id_for_label }}" class="form-label">{{form.nombre.label}}</label>
                <div class="error display-none" id="nombre_error"></div>
                {% for error in form.nombre.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="container-form">
                {{form.apellido}}
                <label for="{{ form.apellido.id_for_label }}" class="form-label">{{form.apellido.label}}</label>
                <div class="error display-none" id="apellido_error"></div>
                {% for error in form.apellido.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <span class="font-roboto">Dirección **</span>
            <div class="container-form">
                {{form.calle}}
                <label for="{{ form.calle.id_for_label }}" class="form-label">{{form.calle.label}}</label>
                <div class="error display-none" id="calle_error"></div>
                {% for error in form.calle.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="container-form">
                {{form.calle_detail}}
                <label for="{{ form.calle_detail.id_for_label }}" class="form-label">{{form.calle_detail.label}}</label>
            </div>
            <div class="container-form">
                {{form.ciudad}}
                <label for="{{ form.ciudad.id_for_label }}" class="form-label">{{form.ciudad.label}}</label>
                <div class="error display-none" id="ciudad_error"></div>
                {% for error in form.ciudad.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <select name="{{ form.provincia.html_name }}" id="{{ form.provincia.id_for_label }}" class="users-select width-100 bloqueable font-roboto" required>
                <option value="" selected disabled>Provincia *</option>
                {% for value, label in form.provincia.field.choices %}
                    {% if value %}
                        <option value="{{ value }}" {% if form.provincia.value == value %}selected{% endif %}>{{ label }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="container-form">
                {{form.codigo_postal}}
                <label for="{{ form.codigo_postal.id_for_label }}" class="form-label">{{form.codigo_postal.label}}</label>
                <div class="error display-none" id="codigo_postal_error"></div>
                {% for error in form.codigo_postal.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <span class="position-relative email-container font-roboto">Contacto<p class="position-absolute font-roboto email-msg">Email donde enviamos la factura</p></span>
            <div class="container-form">
                {{form.email}}
                <label for="{{ form.email.id_for_label }}" class="form-label">{{form.email.label}}</label>
            </div>
            <div class="container-form">
                {{form.telefono}}
                <label for="{{ form.telefono.id_for_label }}" class="form-label">{{form.telefono.label}}</label>
            </div>
            <div class="container-checkbox font-roboto">
                {{ terms.aceptar }}
                <label class="form-check-label" for="{{ terms.aceptar.id_for_label }}">
                    Acepto los <a href="{% url 'core:terminos-condiciones' %}" class="politicas-link decoration-none" target="_blank">Términos y Condiciones</a>
                </label>
                <div class="error display-none" id="terms_aceptar_error"></div>
                {% for error in terms.aceptar.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="container-checkbox font-roboto">
                {{ form.recibir_estado_pedido }}
                <label class="form-check-label" for="{{ form.recibir_estado_pedido.id_for_label }}">
                    {{ form.recibir_estado_pedido.label }}
                </label>
            </div>
        </div>
        <div class="users-perfil-pedido">
            <h3>Tu pedido</h3>
            <table class="cart-finish-facturacion font-roboto width-100">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <td>Subtotal</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2" class="border-2px"></th>
                    </tr>
                    {% if carrito.pedidos.all %}
                        {% for pedido in carrito.pedidos.all %}
                        <tr class="cart-finsh-prods">
                            <th><p>{{pedido.get_cantidad}} x</p> {{pedido.get_nombre_producto}}</th>
                            <td>{{pedido.get_total_precio|formato_pesos}}</td>
                        </tr>
                        <tr>
                            <th colspan="2" class="border-1px"></th>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% for pedido in carrito %}
                            <tr class="cart-finsh-prods">
                                <th><p>{{pedido.cantidad}} x</p> {{pedido.nombre_producto}}</th>
                                <td>{{pedido.total_precio|formato_pesos}}</td>
                            </tr>
                            <tr>
                                <th colspan="2" class="border-1px"></th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                </tbody>
                <tfoot>
                    <tr class="cart-finsh-prods">
                        <th>Subtotal</th>
                        <td>{{total_precio|formato_pesos}}</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="border-1px"></th>
                    </tr>
                    <tr class="cart-finsh-prods">
                        <th>Adicionales</th>
                        <td id="adicionales-value">$0,00</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="border-1px"></th>
                    </tr>
                    <tr class="cart-cupon" id="cupon-tr">
                        <th></th>
                        <td></td>
                    </tr>
                    <tr id="cupon-divider"></tr>
                    <tr class="cart-finsh-prods">
                        <th>Total</th>
                        <td id="total-value">{{ total_precio|formato_pesos }}</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="border-2px"></th>
                    </tr>
                </tfoot>
            </table>
            <a href="{% url 'cart:presupuestar' %}" target="_blank" class="cart-presupuestar bloqueable decoration-none display-block text-center font-bold">Descargar Presupuesto</a>
            <div class="cupon-box width-100">
                <label for="codigo-descuento" class="cupon-label display-block font-bold font-roboto">Tengo un cupón de descuento</label>
                <div class="flex gap-05rem cupon-input-wrapper">
                    <input type="text" id="codigo-descuento" placeholder="Ingresa el código">
                    <button type="button" class="btn-aplicar font-bold cursor-pointer border-none" id="btn-cupon">Aplicar</button>
                </div>
                <p class="cupon-error" id="cupon-error"></p>
                <p class="cupon-success" id="cupon-success"></p>
            </div>
            <ul  class="cart-formadepago">
                <li>
                    <input type="radio" name="forma_pago" id="efectivo" value="efectivo">
                    <label for="efectivo">Pago de contado:</label>
                    <div class="cart-formadepago-details font-roboto">IMPORTANTE: Algunos productos pueden requerir un pago anticipado para asegurar su disponibilidad. En estos casos, la coordinación será gestionada por nuestro staff, quienes te indicarán los pasos a seguir. Este anticipo podrá ser abonado en nuestro punto de retiro o coordinado con el cliente.
                        <button type="submit" class="cart-finalizarcompra bloqueable cursor-pointer decoration-none display-block text-center font-bold">Realizar Pedido</button>
                    </div>
                </li>
                <li>
                    <input type="radio" name="forma_pago" id="transferencia" value="transferencia">
                    <label for="transferencia">Transferencia / Depósito bancario (PAGO EN EL DÍA)</label>
                    <div class="cart-formadepago-details font-roboto">Hace tu pago en nuestra cuenta bancaria. Usa el identificador de pedido como referencia del pago. La transferencia tiene un plazo de 24hs para ser informada.
                        <button type="submit" class="cart-finalizarcompra bloqueable cursor-pointer  decoration-none display-block text-center font-bold">Realizar Pedido</button>
                    </div>
                </li>
                <li>
                    <input type="radio" name="forma_pago" id="mercadopago">
                    <label for="mercadopago">Pagar con Tarjeta (Mercado Pago)</label>
                    <div class="cart-formadepago-details font-roboto">IMPORTANTE: Los pagos realizados con la plataforma de Mercado Pago cuentan con un recargo del 6,29% más IVA.
                        <div id="box-checkout-pro" class="bloqueable width-100"></div>
                    </div>
                </li>
                <li>
                    <input type="radio" name="forma_pago" id="mixto" value="mixto">
                    <label for="mixto"><span class="feature-new font-roboto">(Nuevo) </span>Pago Mixto (Transferencia + Mercado Pago)</label>
                    <div class="cart-formadepago-details font-roboto flex flex-column">
                        IMPORTANTE: Ahora en Twinstore puedes dividir tus pagos! El pago parcial abonado mediante Mercado Pago cuentan con un recargo del 6,29% más IVA. El importe a transferir no aplica un adicional.
                        <div class="flex gap-05rem cupon-input-wrapper mixto-transferencia-box">
                            <input type="number" step="0.01" id="importe-transferir" placeholder="Importe a transferir">
                            <button type="button" class="btn-aplicar font-bold cursor-pointer border-none" id="btn-mixto">Aplicar</button>
                        </div>
                        <p class="cupon-error" id="mixto-error"></p>
                        <p class="cupon-success" id="mixto-success"></p>
                        <button type="button" disabled class="cart-finalizarcompra bloqueable decoration-none display-block text-center font-bold block" id="realizar-pedido-mixto">Realizar Pedido</button>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <div id="loading-overlay" class="loading-overlay position-fixed display-none flex-column items-center justify-center">
        <div class="spinner"></div>
        <p>Procesando pedido...</p>
    </div>
</div>
{% endblock contenidomain %}

{% block myscripts %}
    <script src="{% static 'js/tipo_factura.js' %}"></script>
    <script src="{% static 'js/realizar-pedido.js' %}"></script>
{% endblock myscripts %}