{% extends 'base.html' %}
{% load static custom_filters compress %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Carrito - {{config.nombre_tienda}}</title>
{% endblock head %}

{% block contenidomain %}
<section class="generic-box">
    {% include 'partials/generic-header.html' with title="Carrito" %}
    <section class="generic-data">
        {% if carrito %}
        <div class="generic-item max-content-h">
            <h3>Productos</h3>
            {% for item in carrito %}
            <article class="cart-item">
                <img src="{{item.imagen}}" alt="{{item.nombre}}" height="80">
                <div class="cart-details">
                    <a href="{{item.url_producto}}">{{item.nombre}}</a>
                    <p class="cart-variante">{{item.variante}}</p>
                    <p class="cart-variante">SKU: {{item.sku}}</p>
                    <nav aria-label="Acciones del producto" data-pedidoId="{{item.id|signing_data}}" class="cart-navbox">
                        <button type="button" aria-label="Eliminar del carrito" data-api="/carro/api/eliminar_pedido/">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                        </button>
                        <div class="quantity-controls">
                            <button type="button" aria-label="Disminuir cantidad" data-api="/carro/api/actualizar_pedido/" data-action="menos">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /></svg>
                            </button>
                            <p class="cart-item-cantidad">{{item.cantidad}}</p>
                            <button type="button" aria-label="Aumentar cantidad" data-api="/carro/api/actualizar_pedido/" data-action="mas">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                            </button>
                        </div>
                    </nav>
                </div>
                <div class="cart-item-price">
                    {% if item.tiene_descuento %}<p class="cart-item-price-old">{{item.precio_anterior|formato_pesos}}</p>{% endif %}
                    <strong class="cart-item-price-now">{{item.precio|formato_pesos}}</strong>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="generic-item cart-resume max-content-h">
            <h3>Resumen</h3>
            <div class="cart-prod-resume">
                <p class="cart-totalProds">{{total_productos}} producto(s)</p>
                <span class="cart-subtotal">{{precio_subtotal|formato_pesos}}</span>
            </div>
            <div class="cart-prod-resume">
                <p>Descuento</p>
                <span class="cart-descuento">{% if descuento > 0 %}-{% endif %}{{descuento|formato_pesos}}</span>
            </div>
            <section class="cart-total-price">
                <span>Total</span>
                <strong class="cart-total">{{precio_total|formato_pesos}}</strong>
            </section>
            <p class="generic-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 15h-3a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v3" /><path d="M7 9m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z" /><path d="M12 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /></svg>
                Abonando con efectivo o transferencia*
            </p>
            <a href="{% url 'cart:finalizar_compra' %}" class="generic-button btn-2 {% if not user.is_authenticated %}check-auth{% endif %}" data-api="{% url 'users:api_check_auth' %}">Iniciar compra</a>
            <a href="{% url 'products:grid' %}" class="generic-button btn-1">Volver a la tienda</a>
        </div>
        {% else %}
        <div class="generic-item cart-empty">
            <h3>Tu carrito esta vacío<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M13 17h-7v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /><path d="M22 22l-5 -5" /><path d="M17 22l5 -5" /></svg></h3>
            <a href="{% url 'products:grid' %}" class="generic-button btn-1">Volver a la tienda</a>
        </div>
        {% endif %}
    </section>
</section>
{% endblock contenidomain %}

{% block myscripts %}
{% compress js %}
<script src="{% static 'js/carrito.js' %}"></script>
{% endcompress %}
{% endblock myscripts %}