services:
  web:
    build: .
    entrypoint: /entrypoint.sh
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - redis
      - db
    restart: on-failure

  redis:
    image: redis:7-alpine
    container_name: redis_twinstore
    restart: always
    expose:
      - "6379"
    volumes:
      - redis_data:/data

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./certs/origin.pem:/etc/ssl/certs/origin.pem
      - ./certs/origin.key:/etc/ssl/private/origin.key
    depends_on:
      - web
    restart: on-failure

  db:
    image: postgres:15
    restart: on-failure
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    expose:
      - "5432"

  celery:
    build: .
    entrypoint: /entrypoint-celery.sh
    user: "1000:1000"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env
    restart: on-failure

  celery-beat:
    build: .
    command: ./entrypoint-beat.sh
    depends_on:
      - redis
      - web
    restart: always
    volumes:
      - .:/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

volumes:
  postgres_data:
  static_volume:
  media_volume:
  redis_data:
