DEBUG=True
DJANGO_SECRET_KEY=secret.key
SITE_URL=tu.sitio.web

ALLOWED_HOSTS=tu.sitio.web,www.tu.sitio.web,127.0.0.1,localhost

# Completa tu DB PostgreSQL, o para desarrollo utiliza SQLite
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

MERCADOPAGO_ACCESS_TOKEN=mp.token
MP_WEBHOOK_KEY=webhook.key

SENDGRID_API_KEY=sendgrid.api.key
EMAIL_HOST_USER=tu.mail
DEFAULT_FROM_EMAIL="TuEmpresa <tu.mail>"

CELERY_BROKER_URL=redis.port
CELERY_RESULT_BACKEND=redis.port

EXCEL_TOKEN=excel.token