/* --------Navbar-------- */
.nav-list {
    gap: 3.5rem;
    align-items: center;
    list-style: none;
}

.nav-boton {
    transition: color 0.3s;
    gap: 0.3rem;
}

.nav-link.nav-link,.nav-boton {
    color: #414141;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 0.9rem;
}

.nav-item:hover {color: var(--color-ts)}

/* --------Navbar Productos Display-------- */
.box-productos-display {
    top: 4rem;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 60%);
    overflow: hidden;
    border: #ededed solid 1px;
}

.ul-productos-display {
    min-width: 11rem;
}

.nav-productos-items {
    background-color: #ededed;
    color: #242424;
    padding: 0.8rem;
    gap: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-productos-items.categoria-selec {
    background-color: var(--color-ts);
    color: #fff;
    font-weight: 600;
}

.result-productos-display {
    flex-grow: 1;
    background-color: var(--search-focus-bg-color);
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 0.8rem;
}

.result-productos-column {
    flex-direction: column;
    min-width: 30%;
}

.result-productos-column a {
    text-align: start;
    color: #545454;
    transition: all 0.2s;
}

.result-productos-titulo {
    color: #000;
    font-weight: 600;
    border-bottom: #bbb solid 2px;
    margin-bottom: 0.5rem;
}

.result-productos-titulo:hover {
    color: var(--color-ts);
}

.hover-pad-weight {
    font-size: 0.9rem;
    padding-bottom: 1em;
}

.result-productos-column:hover .result-productos-titulo{
    border-color: var(--color-ts);
}

.hover-pad-weight:hover {
    color: var(--color-ts);
    padding-left: 0.1rem;
    font-weight: 600;
}