.product-card {
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    width: 193px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.prod-name {
    color: #313131;
    height: 57px;
    padding: 6px 12px 0;
    font-size: 1.1rem;
}

.product-card .prod-precio {
    margin-top: 0.5rem;
    text-align: center;
    color: #2652b3;
    font-weight: bold;
    font-size: 1.2rem;
}

.product-card strong {
    margin-top: auto;
    width: 100%;
    text-align: center;
    font-family: var(--font-roboto);
    background-color: #005dc0;
    color: #fff;
    display: block;
    padding: 0.7rem;
    transform: translateY(50px);
    transition: transform 0.3s ease ,border-radius 0.3s ease;
}

.product-card strong.gaming {
    background: linear-gradient(135deg, #00708b, #00ff6a);
}

.product-card-img {
    width: 147.5px;
    height: 147.5px;
    overflow: hidden;
    margin: 16px 16px 0;
}

.descuento-box {
    top: 0;
    left: 0;
    z-index: 10;
    width: 3rem;
    height: 3rem;
}

.icon-descuento {
    font-size: 4.5rem;
    color: #007bff;
    top: -10px;
    left: -10px;
    z-index: 1;
}

.texto-descuento.texto-descuento {
    padding: 0;
    z-index: 2;
    top: 18px;
    left: 2px;
    text-align: center;
    color: rgb(255 255 255);
    font-size: 1.1rem;
    pointer-events: none;
    display: inline-block;
    width: 50px;
}

.product-descount-box {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0 6px;
}

.precio-anterior.precio-anterior {
    text-decoration: line-through;
    color: #6d6d6d;
    font-weight: lighter;
    display: inline-block;
    font-size: 0.9rem;
}

.precio-descuento.precio-descuento {
    display: inline-block;
    color: #005dc0;
    font-weight: bold;
    font-size: 1.1rem;
}

.product-card-img img {
    width: 147.5px;
    height: 147.5px;
    object-fit: contain;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
}

.product-card:hover strong {	
    transform: translateY(0);
}