{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Buscar pedido - Twinstore</title>
{% endblock head %}

{% block headend %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/pedidos.css' %}">
<link rel="stylesheet" href="{% static 'css/substyles/login-register.css' %}">
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}">
<link rel="stylesheet" href="{% static 'css/substyles/django-msg.css' %}">
{% endcompress %}
{% endblock headend %}

{% block contenidomain %}
<main class="padding-1rem">
    <div class="users-pedidos-box bg-white">
        <h1 style="font-family: 'Roboto';text-align: start;padding-bottom: 1rem;font-weight: 300;border-bottom: 1px solid #d6d6d6;margin: 1rem;">Buscar un pedido:</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="django-msg-{{message.tags}} font-roboto text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post" class="flex gap-1rem items-center flex-column padding1rem">
            {% csrf_token %}
            {{form.token}}
            <button type="submit" class="tw-hover-button border-none font-roboto font-bold cursor-pointer users-pedido-button">Buscar pedido</button>
        </form>
    </div>
</main>
{% include 'widgets/ayuda.html' %}
{% endblock contenidomain %}
