{% extends 'base.html' %}
{% load static %}

{% block contenidomain %}
<main class="padding-1rem">
        <h2 style="text-align: center;">❌ ¡Ups! Algo salió mal. ❌</h2>
        <p>No pudimos procesar tu link de verificacion.</p>
        <div>
            <p>Te recomendamos:</p>
            <ul class="users-failpay">
                <li><i class="bi bi-check"></i> Verificar correctamente la integridad del mail.</li>
                <li><i class="bi bi-check"></i> Volver a intentarlo en unos minutos.</li>
                <li><i class="bi bi-check"></i> Si el problema persiste, contáctanos a <span class="users-email-link">help@twinstore.com.ar</span>.</li>
            </ul>
        </div>
        <div style="display: flex; justify-content: center;">
            <a href="{% url 'core:home' %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer users-confirm-links">Volver a la tienda</a>
        </div>
    </div>
</main>
{% endblock contenidomain %}
