{% extends 'base.html' %}
{% block contenidomain %}
<main class="padding-1rem">
    <div class="users-facturacion-box">
        <div>
            <h2>Ya estas a un paso!</h2>
            <p>Completa tus datos para finalizar</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="users-facturacion-type">
                {{ form.tipo_factura.label_tag }}
                {{ form.tipo_factura }}
            </div>
            <div class="users-facturacion-form">
                {{ form.razon_social }}
                {{ form.dni_cuit }}
            </div>
            {% if not request.user.is_authenticated %}
                {{ form.email }}
            {% endif %}
            <button type="submit" class="users-facturacion-button">Guardar</button>
        </form>
    </div>
</main>
<script>
    function actualizarCamposSegunFactura() {
        const tipoFactura = document.querySelector('#id_tipo_factura').value;
        const razonSocialGroup = document.getElementById('id_razon_social');
        const dniCuitPlace = document.getElementById('id_dni_cuit');

        if (tipoFactura === 'A' || tipoFactura === 'C') {
        razonSocialGroup.style.display = 'block';
        dniCuitPlace.placeholder= 'CUIT';
        razonSocialGroup.setAttribute('required','required');
        } else {
        razonSocialGroup.style.display = 'none';
        document.querySelector('#id_razon_social').value = '';
        dniCuitPlace.placeholder = 'DNI';
        razonSocialGroup.removeAttribute('required');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        actualizarCamposSegunFactura();
        document.querySelector('#id_tipo_factura').addEventListener('change', actualizarCamposSegunFactura);
    });
</script>
{% endblock contenidomain %}
