{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style>
        .users-img-box::before {
            background-image: url("{% static 'img/users-bg.jpg' %}");
        }
    </style>
{% endblock head %}

{% block contenidomain %}
<main class="padding-1rem">
    <div class="users-box">
        <div class="users-img-box">
            <div class="users-img-overlay">
                <div class="users-title">
                    <h1>Twinstore</h1>
                    <span>A new Hardware Experience</span>
                </div>
                <div class="users-msg">
                    <h2>¡Bienvenido!</h2>
                    <p>Iniciá sesión y continuá donde lo dejaste.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-column items-center justify-center users-form-box">
            <h2>Iniciar sesion</h2>
            <div class="flex flex-column items-center gap-1rem users-form-subbox">
                <form method="post" class="flex flex-column items-center gap-1rem">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                        {{ form.email }}
                        {{ form.password }}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="django-msg-{{message.tags}}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button type="submit" class="users-button">Iniciar Sesion</button>
                </form>
                <a href="{% url 'users:singup' %}">No tienes una cuenta?</a>
                <a href="#">Olvide mi contraseña</a>
            </div>
        </div>
    </div>
</main>
{% endblock contenidomain %}
