{% if filtros_aplicados %}
    <div class="flex flex-column filter-active-box">
    {% for key, value in request.GET.items %}
        {% if key not in "ordenby" and key not in "q" and key not in "pagina" %}
            <a class="decoration-none filter-active-link bloqueable"href="?{% for k, v in request.GET.items %}{% if k != key %}&{{ k }}={{ v }}{% endif %}{% endfor %}">
                {{ value }}<i class="bi bi-x"></i>
            </a>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}
{% if not tag == 'gaming' %}{% include 'components/sub_categoria.html' %}{% endif %}
{% if not tag == 'gaming' %}{% include 'components/atribute.html' %}{% else %}{% include 'components/atribute_gaming.html' %}{% endif %}
{% if not tag == 'gaming' %}{% include 'components/marcas.html' %}{% else %}{% include 'components/marcas_gaming.html' %}{% endif %}
