<nav class="faq__navbar">
    <ul>
        <li><a href="{% url 'core:faq' %}" class="generic-hover {{faq}}">Preguntas Frecuentes - FAQ</a></li>
        <li><a href="{% url 'core:terminos-condiciones' %}" class="generic-hover {{term}}">Términos y condiciones</a></li>
        <li><a href="{% url 'core:politicas-privacidad' %}" class="generic-hover {{priv}}">Políticas de privacidad</a></li>
        <li><a href="{% url 'core:politicas-devolucion' %}" class="generic-hover {{dev}}">Políticas de devolución</a></li>
        <li><a href="{% url 'core:politicas-tecnico' %}" class="generic-hover {{serv}}">Políticas de servicio técnico</a></li>
        <li><a href="{% url 'core:politicas-envios' %}" class="generic-hover {{env}}">Políticas de envíos</a></li>
        <li><a href="{% url 'core:arrepentimiento' %}" class="generic-hover {{arren}}">Botón de arrepentimiento</a></li>
    </ul>
</nav>