<section class="position-relative flex items-center justify-center width-100" style="max-width: 600px; margin: auto;">
    <div class="swiper-button-prev myWidgets-prev"></div>
    <div class="swiper myWidgets">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="widget-content flex flex-column height-100 justify-between">
                    <div>
                        <h3 class="font-roboto">Seguinos_</h3>
                        <p class="font-roboto">Y disfruta de twinstore.</p>
                    </div>
                    <div class="flex gap-05rem width-100" style="justify-content: end;">
                        <a href="https://www.instagram.com/twinstore.ar?igsh=cGZ6bnU3bndhOTU3" target="_blank" rel="noopener noreferrer" class="decoration-none widget-btn"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.tiktok.com/@twinstore.ar" target="_blank" rel="noopener noreferrer" class="decoration-none widget-btn"><i class="bi bi-tiktok"></i></a>
                        <a href="https://www.linkedin.com/company/twinstore-ar/" target="_blank" rel="noopener noreferrer" class="decoration-none widget-btn"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="widget-content flex flex-column height-100 justify-between">
                    <div>
                        <h3 class="font-roboto">Twinstore Service_</h3>
                        <p class="font-roboto">Laboratorio propio.</p>
                    </div>
                    <a href="{% url 'core:servicio_tecnico' %}" class="decoration-none widget-btn"><i class="bi bi-gear"></i> Ver mas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next myWidgets-next"></div>
</section>