<div class="widget-{{color}}">
    <div class="mini-widget widget-redes flex justify-between items-center">
        <div class="height-100">
            <h3 class="font-roboto font-bold">Seguinos en nuestras redes_</h3>
            <p>Y disfruta de Twinstore.</p>
        </div>
        <div class="flex gap-1rem">
            <a href="https://www.instagram.com/twinstore.ar?igsh=cGZ6bnU3bndhOTU3" target="_blank" rel="noopener noreferrer" class="mini-widget-btn font-roboto font-bold decoration-none"><i class="bi bi-instagram"></i></i></a>
            <a href="#" class="mini-widget-btn font-roboto font-bold decoration-none"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>    
</div>