{% extends 'base.html' %}
{% load static compress custom_filters %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/orders.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/orders.css' %}">
<link rel="stylesheet" href="{% static 'css/components/utilities.css' %}">
{% endblock extra_css %}

{% block title %}
<title>Checkout - {{config.nombre_tienda}}</title>
{% endblock title %}

{% block content %}
<div class="generic-box checkout">
    {% include 'orders/components/bar-track.html' %}
    <section class="generic-data checkout">
        {% include 'orders/components/facturacion.html' with hidden=False %}
        {% include 'orders/components/envio.html' with hidden=True %}
        {% include 'orders/components/pago.html' with hidden=True %}
        {% include 'orders/components/confirmacion.html' with hidden=True %}
        {% include 'orders/components/resume.html' %}
    </section>
    {% include 'orders/components/buttom-btns.html' %}
</div>
{% endblock content %}

{% block myscripts %}
{% compress js %}
<script src="{% static 'js/perfil-get.js' %}"></script>
<script src="{% static 'js/checkout/base.js' %}"></script>
<script src="{% static 'js/checkout/handlers.js' %}"></script>
<script src="{% static 'js/checkout/bartrack.js' %}"></script>
<script src="{% static 'js/checkout/pago.js' %}"></script>
<script src="{% static 'js/checkout/shipping.js' %}"></script>
<script src="{% static 'js/checkout/facturacion.js' %}"></script>
{% endcompress %}
{% endblock myscripts %}