{% extends 'base.html' %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Pedido Exitoso - {{config.nombre_tienda}}</title>
{% endblock head %}

{% block content %}
<div class="generic-box checkout">
    <h3>¡Gracias por tu compra! Ya casi terminamos.</h3>
    <p>Tu pedido #{{ venta.merchant_order_id }} ha sido registrado correctamente y estamos preparando tu reserva.</p>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}