{% extends 'base.html' %}
{% load static compress custom_filters %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Facturacion - {{config.nombre_tienda}}</title>
{% endblock head %}

{% block content %}
<form class="generic-box" id="form-checkout" data-api="{% url 'cart:api_checkout' %}" data-validate="{% url 'cart:api_validar_facturacion' %}" novalidate>
    {% csrf_token %}
    <input type="hidden" name="step3-check" value="false">
    {% include 'partials/generic-header.html' with title="Facturación" %}
    {% include 'checkout/facturacion-step1.html' %}
    {% include 'checkout/forma-pago-step2.html' %}
    {% include 'checkout/transferencia-step3.html' %}
</form>
{% include 'checkout/buy-finish.html' %}
{% endblock content %}

{% block myscripts %}
{% compress js %}
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/perfil-get.js' %}"></script>
<script src="{% static 'js/facturacion.js' %}"></script>
{% endcompress %}
{% endblock myscripts %}