/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable no-descending-specificity */
.users-perfil-facturacion {width: 50%;}

.users-perfil-facturacion span {
    border-bottom: 1px solid #d8d8d8;
}

.users-divider {
    border-bottom: 2px solid #ededed;
}

.users-perfil-pedido {
    width: 50%;
    padding: 1rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.users-perfil-pedido h3 {
    text-align: start;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
}

.cart-finish-facturacion {
    border-collapse: separate;
}

.cart-finish-facturacion th {
    text-align: start;
}

.cart-finish-facturacion td {
    text-align: end;
}

.cart-finish-facturacion thead {
    font-weight: bold;
}

.cart-finish-facturacion tbody td, tfoot tr td th{
    font-weight: 600;
    font-family: 'Roboto';
}

.cart-finish-facturacion tbody th{
    font-weight: normal;
    color: #575757;
    font-size: 0.9rem;
}

.cart-finish-facturacion tbody p {
    display: inline-block;
    font-weight: bold;
    color: #575757;
}

.cart-finsh-prods th,.cart-finsh-prods td{
    padding: 0.5rem 0;
    font-family: 'Roboto';
    font-weight: 600;
}

.cart-formadepago {
    list-style: none;
    max-width: 300px;
}

.cart-formadepago li {
    padding: 0.5rem 0;
    font-weight: bold;
}

.cart-presupuestar,.cart-finalizarcompra {
    background-color:#1b8dd8;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    width: 70%;
}

.cart-finalizarcompra {
    font-size: 1.2rem;
    background-color:#146ba5;
    width: 100%;
    margin: 0.5rem 0;
    border: none;
    transition: background-color 0.3s ease;
}

.cart-finalizarcompra[type="button"] {
    background-color: #a5a5a5;
}

.cart-finalizarcompra[type="button"]:hover {
    background-color: #a5a5a5;
}

.cart-finalizarcompra[type="submit"]:hover {
    background-color: #0d4972;
}

.cart-formadepago-details {
    padding-top: 0.5rem;
    font-weight: 300;
    text-align: justify;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

input[type="radio"]:checked + label + .cart-formadepago-details {
    max-height: 300px;
    opacity: 1;
}

.product-result p,select, select option {
    font-family: 'Roboto';
}

.error{
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 0.8rem;
    color: crimson;
    font-style: italic;
    width: 100%;
    background-color: #ededed;
    border-left:4px solid rgb(216 111 132);
    padding-left: 0.75rem;
}

.email-container {
    margin-bottom: 0.7rem;
}

.email-msg {
    top:25px;font-style: italic;color: #414141;font-size: 0.9rem;
}

.cupon-box {
    border: 1px solid #ddd;
    padding: 0.8rem;
    border-radius: 10px;
}

.cupon-label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #111;
}

.cupon-input-wrapper {
    margin-bottom: 0.3rem;
}

.cupon-input-wrapper input {
    flex: 1;
    min-width: 0;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.cupon-input-wrapper input.errors {
    border: 1px solid crimson;
}

.cupon-input-wrapper input.success {
    border: 1px solid rgb(20 220 87);
}

.btn-aplicar {
    padding: 0.6rem;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* evita que el texto se corte o haga wrap */
    flex-shrink: 0; 
}

.btn-aplicar:hover {
    background-color: #0056b3;
}

.cupon-error {
    color: crimson;
    font-style: italic;
    font-size: 0.8rem;
}

.cupon-success {
    color: rgb(62 190 50);
    font-size: 0.8rem;
}

@keyframes successpop {
    0% {
        transform: scale(1);
        background-color: #007bff;
    }

    30% {
        transform: scale(1.1);
        background-color: #28a745;
    }

    60% {
        transform: scale(0.98);
    }

    100% {
        transform: scale(1);
        background-color: #007bff;
    }
}

@keyframes errorpop {
    0% {
        background-color: #007bff;
    }

    30% {
        transform: rotate(8deg);
        background-color: #a72828;
    }

    60% {
        transform: rotate(-3deg);
    }

    100% {
        background-color: #007bff;
    }
}

.btn-success {
    animation: successpop 0.8s ease;
}

.btn-error {
    animation: errorpop 0.8s ease;
}

.cart-cupon {
    color: #0056b3;
}

.feature-new {
    font-size: 1rem;
    color: #1b8dd8;
    font-weight: normal;
}