/* stylelint-disable selector-class-pattern */

/* ----- Notificacion main ----- */
.notification-mainpage {
    display: grid;
    place-items: center;
    width: 100vw;
    background-color: transparent;
    z-index: 700;
    top: 0;
}

.notification-item {
    width: 300px;
    height: 180px;
    opacity: 0;
    padding: 1rem;
    border-radius: 0 0 12px 12px;
    justify-content: end;
    animation: showblock 7s ease;
    transform: translateY(-180px);
}

@keyframes showblock {
    20% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        background-color: #fff;
        opacity: 1;
    }

    100% {
        transform: translateY(-180px);
        background-color: #fff;
        opacity: 0;
    }
}

.ofertaProds {
    max-width: 900px;
    height: 350px;

    --swiper-navigation-size: 40px;
    --swiper-navigation-color: #fff;
}

.ofertaProds .swiper-wraper {
    margin: 0 0.8rem;
}

.ofertaProds .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.ofertaProds-next,
.ofertaProds-prev {
background-color: rgb(0 0 0 / 50%);
border-radius: 50%;
width: 48px;
height: 48px;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.3s ease;
backdrop-filter: blur(4px);
z-index: 10;
}

.ofertaProds-prev{
left: 10px;
}

.ofertaProds-next {
right: 10px;
}

.ofertaProds-next:hover,
.ofertaProds-prev:hover {
background-color: rgb(0 0 0 / 80%);
transform: scale(1.1);
}

.ofertaProds-next::after,
.ofertaProds-prev::after {
font-size: 20px;
}

.landing-section {
    background-color: var(--black-theme-color);
    padding: 1rem 0;
    margin: auto;
    max-width: 1200px;
    border-radius: 12px;
}

h2 {
font-size: 2rem;
font-weight: 700;
color: #e9e9e9;
margin-bottom: 1rem;
}

h2::after {
content: '';
display: block;
width: 300px;
height: 4px;
background-image: linear-gradient(135deg, #ff5722, #a648cc);
margin: 0.5rem auto 0;
border-radius: 10px;
}

.landing-grid-section {
    padding-top: 1.5rem;
}

.landing-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1024px;
    margin: auto;
    gap: 2rem;
    place-items: center;
    justify-content: center;
    padding: 1rem 0 3rem;
}

.landing-box {
    padding: 3px;
    border-radius: 20px;
    background: #003166;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 0 transparent;
}

.landing-box:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgb(119 119 119);
    background: #636363;
}

.landing-content {
    border-radius: 16px;
    color: #fff;
    font-size: 1.3rem;
    align-items: center;
    justify-content: end;
    padding-bottom: 2rem;
    gap: 1.5rem;
    background-size: 200px;
    background-position: center;
    transition: all ease 0.3s;
}

.landing-content[data-type="computadoras"] {background-image: url("/static/img/landing/pc-armadas.webp");}

.landing-content[data-type="componentes"] {background-image: url("/static/img/landing/componentes.webp");}

.landing-content[data-type="servicios"] {background-image: url("/static/img/landing/servicio.webp");}

.landing-content[data-type="celulares"] {background-image: url("/static/img/landing/celulares.webp");}

.landing-content:hover {background-size: 230px;}

.myCarousel {
    width: 100%;
    height: auto;
}

.myCarousel .swiper-slide img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.myCarousel .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 5px;
    transition: all 0.3s ease;
}