/** MOBILE STYLES */

.filter-active-box-mobile {
    padding: 0.5rem;
    gap: 0.5rem;
}

.filter-ordenar-box {
    padding: 1rem 0.8rem;
    background-color: rgb(255 255 255);
    border-bottom: 1px solid #cfcfcf;
    font-size:18px;
}
.filter-ordenar-box li {font-family: var(--font-type);}

.filter-button,.ordenar-button {
    color: #5d94ca;
    padding: 0 1rem;
    gap: 0.5rem;
}

.filter-button i,.ordenar-button i {
    font-size: 1rem;
}

.filter-button {
    border-right: 1px solid #a1a1a1;
}

.ordenar-button {
    border-left: 1px solid #a1a1a1;
}

.filter-box-mobile,.ordenar-box-mobile {
    top: 54px;
    left: 0;
    background-color: white;
    border-bottom: 1px solid #a1a1a1;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    z-index: 100;
}

.ordenar-box-mobile {
    padding-bottom: 0.5rem;
}

.filter-item {
    color: #333;
    font-size: 20px;
    border-bottom: 1px rgb(184 184 184) solid;
}

.filter-expanded {
    display: none;
}

.filter-expanded:last-child {
    padding-bottom: 0.5rem;
}

.filter-link-mobile,.subfilter-link-mobile {
    color: #444;
    font-size: 16px;
    border-bottom: 1px solid #d6d6d6;
}

.ordenar-opcion {
    color: #444;
    font-size: 16px;
    border-bottom: 1px solid #d6d6d6;
}

.filter-box-mobile.show {
    display: block;
}

.filter-expanded.show {
    display: block;
}

.ordenar-box-mobile.show {
    display: block;
}

.filter-item i {
    transition: transform 0.3s ease-in-out;
}

.filter-item.active i {
    transform: rotate(180deg);
}