{% extends 'admin/base.html' %}

{% load unfold i18n static %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}

{% include 'admin/styles.html' %}

{% include 'admin/top-index.html' %}

{% include 'admin/kpi_main.html' %}
{% include 'admin/line_chart_orders.html' %}

{% include 'admin/divider.html' %}

{% include 'admin/kpi_second.html' %}

{% include 'admin/prod_chart_review.html' %}

{% include 'admin/footer.html' %}

{% endblock %}