{% load unfold %}
<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));gap: 1rem; margin-top: 1rem;">

    {% component "unfold/components/card.html" with title="Productos con menos Stock" %}
    {% if prod_menos_stock %}
        {% component "unfold/components/table.html" with table=prod_menos_stock card_included=1 striped=1 %}{% endcomponent %}
    {% else %}
        <p>No hay datos disponibles.</p>
    {% endif %}
    {% endcomponent %}

    {% component "unfold/components/card.html" with title="Subcategorias que mas venden" %}
        <p style="margin-bottom: 1rem; text-align: center;">Basados en ingresos totales</p>
        {% component "unfold/components/chart/bar.html" with component_class="PieChartCategorias" %}{% endcomponent %}
    {% endcomponent %}

    {% component "unfold/components/card.html" with title="Ultimas reseñas" class="p-4!" %}
    <div style="display: flex; flex-direction: column; gap: 1rem; overflow-y: scroll; max-height: 380px;" class="hide-scrollbar-webkit">
        {% if ultimas_resenas %}
            {% for resena in ultimas_resenas %}
                <div style="padding: 0.75rem; border-radius: 5px;" class="bg-base-100 dark:bg-base-800">
                    <header style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500; font-size: 1rem;">{{resena.usuario.first_name}} {{resena.usuario.first_name}}</span>
                        <span style="display: flex;">
                            {% for i in "12345" %}
                                {% if forloop.counter <= resena.calificacion %}
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="#1987ee"  class="icon icon-tabler icons-tabler-filled icon-tabler-star"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" /></svg>
                                {% else %}
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="#cccccc"  class="icon icon-tabler icons-tabler-filled icon-tabler-star"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" /></svg>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </header>
                    <p style="font-size: 0.9rem; font-style: italic; font-weight: 500;">{{resena.producto}}</p>
                    <p style="margin-top: 1rem; font-size: 0.9rem;">{{resena.comentario}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay reseñas recientes.</p>
        {% endif %}
    </div>
    {% endcomponent %}

</div>
