{% extends 'base.html' %}

{% block head %}
    <title>Carrito - Funestore</title>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
{% endblock head %}

{% block section %}
{% endblock section %}

{% block contenidomain %}
<main class="padding-1rem">
    <form class="users-perfil">
        <div class="users-perfil-facturacion">
            <h2>Detalles de facturacion</h2>
            <span>Personales **</span>
            <select name="tipo_factura" id="id_tipo_factura" class="users-select">
                <option selected disabled>Tipo de factura *</option>
                <option value="A">IVA Responsable Inscripto</option>
                <option value="B">Consumidor Final</option>
                <option value="C">Monotributista</option>
            </select>
            <div id="dni_cuit_container" class="container-form" style="display: none;">
                <input type="text" name="dni_cuit" maxlength="255" id="id_dni_cuit" placeholder=" " autocomplete="off" class="form__input">
                <label for="id_dni_cuit" id="dni_cuit_label" class="form__label">DNI *</label>
            </div>
            <div id="razon_social_container" class="container-form" style="display: none;">
                <input type="text" name="razon_social" maxlength="255" id="id_razon_social" placeholder=" " autocomplete="off" class="form__input">
                <label for="id_razon_social" class="form__label">Razón social *</label>
            </div>
            <div class="container-form">
                <input type="text" id="name" autocomplete="off" placeholder=" " class="form__input">
                <label for="name" class="form__label">Nombre *</label>
            </div>
            <div class="container-form">
                <input type="text" id="apellido" autocomplete="off" placeholder=" " class="form__input">
                <label for="apellido" class="form__label">Apellidos *</label>
            </div>
            <span>Direccion **</span>
            <div class="container-form">
                <input type="text" id="calle" autocomplete="off" placeholder=" " class="form__input">
                <label for="calle" class="form__label">Direccion de la calle *</label>
            </div>
            <div class="container-form">
                <input type="text" id="calle_detail" autocomplete="off" placeholder=" " class="form__input">
                <label for="calle_detail" class="form__label">Apartamento, Piso, etc.</label>
            </div>
            <div class="container-form">
                <input type="text" id="cuidad" autocomplete="off" placeholder=" " class="form__input">
                <label for="cuidad" class="form__label">Localidad / Cuidad *</label>
            </div>
            <select name="provincia" id="id_provincia" class="users-select">
                <option selected disabled>Provincia *</option>
                <option value="A">Cuidad Autonoma de Buenos Aires</option>
                <option value="B">Buenos Aires</option>
                <option value="C">Catamarca</option>
                <option value="D">Chaco</option>
                <option value="E">Chubut</option>
                <option value="F">Cordoba</option>
                <option value="G">Corrientes</option>
                <option value="H">Entre Rios</option>
                <option value="I">Formosa</option>
                <option value="J">Jujuy</option>
                <option value="K">La Pampa</option>
                <option value="L">La Rioja</option>
                <option value="M">Mendoza</option>
                <option value="N">Misiones</option>
                <option value="O">Neuquen</option>
                <option value="P">Rio Negro</option>
                <option value="Q">Salta</option>
                <option value="R">San Juan</option>
                <option value="S">San Luis</option>
                <option value="T">Santa Cruz</option>
                <option value="U">Santa Fe</option>
                <option value="V">Santiago Del Estero</option>
                <option value="W">Tierra del Fuego</option>
                <option value="X">Tucuman</option>
            </select>
            <div class="container-form">
                <input type="text" id="codigo_postal" autocomplete="off" placeholder=" " class="form__input">
                <label for="codigo_postal" class="form__label">Codigo Postal *</label>
            </div>
            <span>Contacto</span>
            <div class="container-form">
                <input type="text" id="email" autocomplete="off" placeholder=" " class="form__input">
                <label for="email" class="form__label">Email *</label>
            </div>
            <div class="container-form">
                <input type="text" id="telefono" autocomplete="off" placeholder=" " class="form__input">
                <label for="telefono" class="form__label">Telefono</label>
            </div>
        </div>
        <div class="users-perfil-pedido">
            <h3>Tu pedido</h3>
            <table class="cart-finish-facturacion">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <td>Subtotal</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2" style="border-bottom: 2px solid rgb(185, 185, 185);"></th>
                    </tr>
                    {% for pedido in carrito.pedidos.all %}
                        <tr class="cart-finsh-prods">
                            <th><p>{{pedido.get_cantidad}} x</p> {{pedido.producto.nombre}}</th>
                            <td>${{pedido.get_total_precio}}</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="border-bottom: 1px solid rgb(180, 180, 180);"></th>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="cart-finsh-prods">
                        <th>Subtotal</th>
                        <td>${{total_precio}}</td>
                    </tr>
                    <tr>
                        <th colspan="2" style="border-bottom: 1px solid rgb(180, 180, 180);"></th>
                    </tr>
                    <tr class="cart-finsh-prods">
                        <th>Adicionales</th>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <th colspan="2" style="border-bottom: 1px solid rgb(180, 180, 180);"></th>
                    </tr>
                    <tr class="cart-finsh-prods">
                        <th>Total</th>
                        <td>${{total_precio}}</td>
                    </tr>
                    <tr>
                        <th colspan="2" style="border-bottom: 2px solid rgb(185, 185, 185);"></th>
                    </tr>
                </tfoot>
            </table>
            <a href="#" class="cart-presupuestar">Descargar Presupuesto</a>
            <ul  class="cart-formadepago">
                <li>
                    <input type="radio" name="opcion" id="opcion1">
                    <label for="opcion1">Pago en el local: (Contado)</label>
                    <div class="cart-formadepago-details">IMPORTANTE: Los pedidos abonados en efectivo se realizan al momento de recibir el pedido, el monto puede variar al momento del pago.
                        <a href="#" class="cart-finalizarcompra">Realizar Pedido</a>
                    </div>
                </li>
                <li>
                    <input type="radio" name="opcion" id="opcion2">
                    <label for="opcion2">Transferencia / Depósito bancario (PAGO EN EL DÍA)</label>
                    <div class="cart-formadepago-details">Hace tu pago en nuestra cuenta bancaria. Usa el identificador de pedido como referencia del pago. La transferencia tiene un plazo de 24hs para ser informada.
                        <a href="#" class="cart-finalizarcompra">Realizar Pedido</a>
                    </div>
                </li>
                <li>
                    <input type="radio" name="opcion" id="opcion3">
                    <label for="opcion3">Pagar con Mercado Pago</label>
                    <div class="cart-formadepago-details">IMPORTANTE: Los pagos realizados con la plataforma de Mercado Pago cuentan con un recargo del 6,29% más IVA.
                        <div id="wallet_container"></div>
                        <script>
                            const mp = new MercadoPago('{{public_key}}', {
                                locale: 'es-AR'
                            });

                            mp.bricks().create("wallet", "wallet_container", {
                                initialization: {
                                    preferenceId: "{{ preference_id }}",
                                },
                                customization: {
                                    theme: 'default',
                                }
                            });
                        </script>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</main>
<script>
    const tipoFactura = document.getElementById('id_tipo_factura');
    const dniCuitContainer = document.getElementById('dni_cuit_container');
    const razonSocialContainer = document.getElementById('razon_social_container');
    const dniCuitInput = document.getElementById('id_dni_cuit');
    const dniCuitLabel = document.getElementById('dni_cuit_label');
    const razonSocialInput = document.getElementById('id_razon_social');
    
    tipoFactura.addEventListener('change', function() {
        const value = this.value;
        
        if (value === 'B') {
            // Consumidor Final
            dniCuitLabel.textContent = 'DNI *';
            dniCuitInput.required = true;
            dniCuitContainer.style.display = 'block';
            
            razonSocialContainer.style.display = 'none';
            razonSocialInput.required = false;
        } else if (value === 'A' || value === 'C') {
            // Factura A o C
            dniCuitLabel.textContent = 'CUIT *';
            dniCuitInput.required = true;
            dniCuitContainer.style.display = 'block';
            
            razonSocialContainer.style.display = 'block';
            razonSocialInput.required = true;
        } else {
            // Si no seleccionó una opción válida (opción inicial)
            dniCuitContainer.style.display = 'none';
            razonSocialContainer.style.display = 'none';
            dniCuitInput.required = false;
            razonSocialInput.required = false;
        }
    });
    </script>
{% endblock contenidomain %}

{% block contacto %}
{% endblock contacto %}