<form class="generic-expand shipping-methods animate" id="shipping-options" novalidate>
    <h3>Seleccioná una opción</h3>
    <p class="msg-required"></p>
    <div class="inner-item">
    </div>
    <button type="button" class="generic-button btn-2 left" id="btn-shipping-opt">
        <code>Confimar</code><div class="btn-loader"></div>
    </button>
</form>
<div class="shipping-result shipping-generic hide" id="options-result">
    <strong>Servicio seleccionado</strong>
    <span></span>
    <button type="button" class="shipping-reset" data-value="2">Editar</button>
</div>