<form class="generic-expand shipping-methods animate" id="shipping-sucursales" novalidate>
    <h3>Elegí tu sucursal</h3>
    <p class="msg-required"></p>
    <div class="inner-item"></div>
    <button type="button" class="generic-button btn-2 left" id="btn-shipping-sucursal">
        <code>Confimar</code><div class="btn-loader"></div>
    </button>
</form>
<div class="shipping-result shipping-generic hide" id="sucursal-result">
    <strong>Sucursal</strong>
    <span></span>
    <button type="button" class="shipping-reset" data-value="3b">Editar</button>
</div>