{% extends 'base.html' %}
{% load static %}

{% block section %}
{% endblock section %}

{% block contenidomain %}
<div class="product-box">
    <nav class="flex justify-between items-center products-nav">
        <div>
            <a href="{% url 'core:home' %}" class="decoration-none product-outside-link">Inicio</a>
            <i class="bi bi-chevron-right product-outside-link"></i>
            <span>{{categoria}}</span>
        </div>
        <div class="flex justify-between gap-1rem items-center">
            Mostrando {{cantidad_productos}} resultados
            <form method="GET" id="filterForm">
                <select name="ordenby" id="ordenby" onchange="document.getElementById('filterForm').submit();" class="product-ordenby">
                    <option value="" disabled selected>Filtros &#x2630;</option>
                    <option value="date">Ordenar por los últimos</option>
                    <option value="price_lower">Ordenar por precio: bajo a alto</option>
                    <option value="price_higher">Ordenar por precio: alto a bajo</option>
                </select>
            </form>
        </div>
    </nav>
    <div class="flex gap-1rem product-box-grid">
        <div class="flex flex-column subcategoria-box">
            <span class="subcategoria-title">Subcategorias</span>
            <ul class="list-none">
                {% for subcategoria in sub_categorias %}
                <li><a class="decoration-none subcategoria-link" href="{% url 'products:subcategoria' categoria=categoria sub_categoria=subcategoria %}">{{ subcategoria }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <main class="flex justify-center flex-grow">
            <div class="grid-container">
                {% for producto, imagen_url in productos_imagen %}
                    <div class="product-card">
                        {% if imagen_url %}
                            {% include 'cards_dinamic.html' with img_url=imagen_url product_name=producto.nombre product_price=producto.precio only %}
                        {% else %}
                            {% include 'cards_static.html' with img_url='img/prod_default.jpg' product_name=producto.nombre product_price=producto.precio only %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
</div>

{% endblock contenidomain %}

{% block contacto %}
{% endblock contacto %}