{% extends 'base.html' %}
{% load filters %}

{% block contenidomain %}

    {% for test in url_marca %}
        {% with "marca,"|add:test as marca_param %}
            <li><a href="{{ request.get_full_path|remove_from_query:marca_param }}">Remove {{ test }}</a></li>
        {% endwith %}
    {% endfor %}

    {% for test in url_atri %}
        {% with "Conectividad,"|add:test as atributo_param %}
            <li><a href="{{ request.get_full_path|remove_from_query:atributo_param }}">Remove {{ test }}</a></li>
        {% endwith %}
    {% endfor %}


    <h2>Marcas</h2>

    {% for marca in marcas %}
        {% with "marca,"|add:marca.nombre as marca_param %}
            <li><a href="{{ request.get_full_path|add_to_query:marca_param }}">Add {{ marca.nombre }}</a></li>
        {% endwith %}
    {% endfor %}

    <h2>{{clave}}</h2>
    {% for atributo in atributos_dict %}
        {% with "Conectividad,"|add:atributo as atributo_param %}
            <li><a href="{{ request.get_full_path|add_to_query:atributo_param }}">Add {{ atributo }}</a></li>
        {% endwith %}
    {% endfor %}

{% endblock contenidomain %}

{% block contacto %}
{% endblock contacto %}