<input type="hidden" id="evento_timer" value="{{evento_activo.fecha_fin|date:'Y-m-d H:i:s'}}">
<a href="{% url 'products:grid' %}?evento={{evento_activo.slug}}" class="evento-card">
    <div class="evento-content">
        <div class="evento-header">
            <div class="evento-header-left">
                <div class="evento-icon-wrap">
                    <span class="evento-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-tag"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z" /></svg>
                    </span>
                </div>
                <span class="evento-title">{{evento_activo.nombre_evento}}</span>
            </div>
            <span class="evento-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
            </span>
        </div>
        <div class="evento-countdown">
            <div class="evento-time-block evento-dias">
                <p class="evento-time-value" id="dias_value">15</p>
                <p class="evento-time-label">días</p>
            </div>
            <div class="evento-separator">:</div>
            <div class="evento-time-block">
                <p class="evento-time-value" id="horas_value">10</p>
                <p class="evento-time-label">horas</p>
            </div>
            <div class="evento-separator">:</div>
            <div class="evento-time-block">
                <p class="evento-time-value" id="min_value">45</p>
                <p class="evento-time-label">min</p>
            </div>
        </div>
    </div>
</a>