{% load static %}
{% load custom_filters %}
<article class="card-product line">
    {% if producto.banner %}
        <span class="card-product-discount {% if producto.evento %}event{% endif %}">{{ producto.banner }}</span>
        {% if producto.evento.logo %}
        <img class="card-product-banner" src="{{ producto.evento.logo.url }}" alt="{{ producto.evento.nombre }}" height="50" width="50">
        {% endif %}
    {% endif %}
    <a href="{% url 'products:slug_dispatcher' producto.slug %}">
        <header class="card-product__media">
            <img src="{{producto.get_portada_200}}" alt="{{producto.nombre}}">
        </header>
        <div>
            <p class="card-product__name">{{producto.nombre}}</p>
            <footer class="card-product__footer">
            <div class="card-product__prices">
                <span class="price--current">{{producto.precio_final|formato_pesos}}</span>
                {% if producto.descuento > 0 %}<span class="price--old">{{producto.precio_base|formato_pesos }}</span>{% endif %}
            </div>
            </footer>
        </div>
    </a>
</article>