{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
    <style>
        .cargar-excel-admin {
            padding: 1rem;
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.6);
            max-width: 1024px;
            margin: auto;
        }
    </style>
    <title>Administracion</title>
{% endblock head %}

{% block contenidomain %}
<div>
    <div class="cargar-excel-admin">
        <h2>Administrar productos</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ excel.as_p }}
            <button type="submit">Cargar archivo</button>
        </form>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ dolar.as_p }}
            <button type="submit">Actualizar dolar</button>
        </form>
        <a href="{% url 'core:cache_clear' %}">Limpiar caché</a>
    </div>
</div>
{% endblock contenidomain %}
