{% extends 'base.html' %}
{% load static compress cache %}

{% block meta %}
<meta name="description" content="{{config.nombre_tienda}} es una empresa de venta de productos informáticos. Envíos a todo el país.">
<meta name="robots" content="index, follow">
<meta property="og:title" content="{{config.nombre_tienda}} - A new Hardware Experience">
<meta property="og:description" content="A new Hardware Experience">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<link rel="canonical" href="https://twinstore.com.ar/">
{% endblock meta %}

{% block head %}
<title>{{config.nombre_tienda}} | Hardware, Notebooks, Celulares y Accesorios en Argentina</title>
<link rel="stylesheet" href="{% static 'css/libs/swiper-bundle.min.css' %}">
{% endblock head %}

{% block contenidomain %}
<h1 class="visually-hidden">{{config.nombre_tienda}} - Tienda de Hardware, Notebooks y Tecnología en Argentina</h1>
<div class="generic-box landing">
    {% cache 600 banners_home %}
    <section class="swiper banner-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">
                    <picture>
                        <source srcset="{% static 'img/banners/banner-iphone-17-pro-min.webp' %}" media="(max-width: 720px)">
                        <img src="{% static 'img/banners/banner-iphone-17-pro.webp' %}" alt="Banner iPhone 17 Pro">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <picture>
                        <source srcset="{% static 'img/banners/banner-notebook-gaming-min.webp' %}" media="(max-width: 720px)">
                        <img src="{% static 'img/banners/banner-notebook-gaming.webp' %}" alt="Banner Notebook Gaming">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <picture>
                        <source srcset="{% static 'img/banners/banner-metodo-pago-min.webp' %}" media="(max-width: 720px)">
                        <img src="{% static 'img/banners/banner-metodo-pago.webp' %}" alt="Banner Metodo de Pago">
                    </picture>
                </a>
            </div>
        </div>
        <div class="swiper-pagination banner-pag"></div>
    </section>
    {% endcache %}
    <section class="swiper-box">
        <h2 class="landing-title">Descubrí nuestras <strong>ofertas</strong></h2>
        <section class="swiper products-swiper" data-speed="900" data-delay="2500" data-pagination=".pagination-ofertas" data-bullets="1">
            <div class="swiper-wrapper">
                {% for producto in ofertas %}
                <div class="swiper-slide">
                    {% include 'components/product_card_line.html' %}
                </div>
                {% endfor %}
            </div>
        </section>
        <div class="swiper-pagination pagination-ofertas"></div>
    </section>
    {% cache 600 categorias_home %}
    <section class="swiper categories-swiper">
        <h2 class="landing-title">Estas son nuestras <strong>categorías</strong></h2>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="cat-grid">
                    <a href="/productos/perifericos/monitores/" class="cat large" data-name="Monitores">
                        <img src="{% static 'img/landing/categorias/monitores.webp' %}" alt="Categoría Monitores">
                        <span>MONITORES</span>
                    </a>
                    <a href="/productos/celulares/" class="cat tall" data-name="Celulares">
                        <img src="{% static 'img/landing/categorias/celulares.webp' %}" alt="Categoría Celulares">
                        <span>Celulares</span>
                    </a>
                    <a href="/productos/hardware/procesadores/" class="cat" data-name="Periféricos">
                        <img src="{% static 'img/landing/categorias/procesadores.webp' %}" alt="Categoría Periféricos">
                        <span>Procesadores</span>
                    </a>
                    <a href="/productos/perifericos/" class="cat wide" data-name="PCs">
                        <img src="{% static 'img/landing/categorias/perifericos.webp' %}" alt="Categoría Perifericos">
                        <span>Perifericos</span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cat-grid">
                    <a href="/productos/hardware/fuentes/" class="cat wide" data-name="Notebooks">
                        <img src="{% static 'img/landing/categorias/fuentes.webp' %}" alt="Categoría Fuentes">
                        <span>Fuentes</span>
                    </a>
                    <a href="/productos/hardware/placas-de-video/" class="cat tall" data-name="Placas de video">
                        <img src="{% static 'img/landing/categorias/placa-de-video.webp' %}" alt="Categoría placas de video">
                        <span>Placas de Video</span>
                    </a>
                    <a href="/productos/pc-de-escritorio/" class="cat tall" data-name="Discos SSD">
                        <img src="{% static 'img/landing/categorias/pcs.webp' %}" alt="Categoría Pcs">
                        <span>PCs</span>
                    </a>
                    <a href="/productos/hardware/memoria-ram/" class="cat" data-name="RAM">
                        <img src="{% static 'img/landing/categorias/ram.webp' %}" alt="Categoría Memorias RAM">
                        <span>Memorias RAM</span>
                    </a>
                    <a href="/productos/almacenamiento/discos-ssd/" class="cat wide" data-name="Celulares">
                        <img src="{% static 'img/landing/categorias/discos-ssd.webp' %}" alt="Categoría Discos SSD">
                        <span>Discos SSD</span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cat-grid">
                    <a href="/productos/almacenamiento/discos-rigidos/" class="cat wide" data-name="Periféricos">
                        <img src="{% static 'img/landing/categorias/discos-rigidos.webp' %}" alt="Categoría Discos Rígidos">
                        <span>Discos Rígidos</span>
                    </a>
                    <a href="/productos/hardware/gabinetes/" class="cat tall" data-name="Discos SSD">
                        <img src="{% static 'img/landing/categorias/gabinetes.webp' %}" alt="Categoría Gabinetes">
                        <span>Gabinetes</span>
                    </a>
                    <a href="/productos/notebooks/" class="cat large" data-name="PCs">
                        <img src="{% static 'img/landing/categorias/notebooks.webp' %}" alt="Categoría Notebooks">
                        <span>Notebooks</span>
                    </a>
                    <a href="/productos/hardware/motherboards/" class="cat" data-name="RAM">
                        <img src="{% static 'img/landing/categorias/mothers.webp' %}" alt="Categoría Motherboards">
                        <span>Motherboards</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination category-pag"></div>
    </section>
    {% endcache %}
    <section class="landing-banner">
        <div>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" /><path d="M3 10l18 0" /><path d="M7 15l.01 0" /><path d="M11 15l2 0" /></svg>
            <span>Hasta 24 cuotas</span>
            <p>abonando con metodos seleccionados</p>
        </div>
        <div>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-truck"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" /></svg>
            <span>Envíos a todos el país</span>
            <p>mediante Andreani</p>
        </div>
        <div>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shield"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" /></svg>
            <span>Garantía</span>
            <p>tus compras están protegidas</p>
        </div>
    </section>
    <section class="swiper-box">
        <h2 class="landing-title">Conocé nuestros productos <strong>Destacados</strong></h2>
        <section class="swiper products-swiper" data-speed="800" data-delay="3500" data-pagination=".pagination-destacados" data-bullets="2">
            <div class="swiper-wrapper">
                {% for producto in destacados %}
                <div class="swiper-slide">
                    {% include 'components/product_card_line.html' %}
                </div>
                {% endfor %}
            </div>
        </section>
        <div class="swiper-pagination pagination-destacados"></div>
    </section>
    {% cache 600 marcas_home %}
    <section class="brands-grid-box">
        <h2 class="landing-title">Descubrí nuestras <strong>marcas</strong></h2>
        <div class="brands-grid">
            <a href="{% url 'products:grid' %}?marca=intel" class="brand" data-name="Intel" rel="nofollow">
                <img src="{% static 'img/landing/marcas/intel.webp' %}" alt="Marca Intel" loading="lazy">
            </a>
            <a href="{% url 'products:grid' %}?marca=amd" class="brand" data-name="AMD" rel="nofollow">
                <img src="{% static 'img/landing/marcas/amd.webp' %}" alt="Marca AMD" loading="lazy">
            </a>
            <a href="{% url 'products:grid' %}?marca=logitech" class="brand" data-name="Logitech" rel="nofollow">
                <img src="{% static 'img/landing/marcas/logitech.webp' %}" alt="Marca Logitech" loading="lazy">
            </a>
            <a href="{% url 'products:grid' %}?marca=apple" class="brand" data-name="Apple" rel="nofollow">
                <img src="{% static 'img/landing/marcas/apple.webp' %}" alt="Marca Apple" loading="lazy">
            </a>
            <a href="{% url 'products:grid' %}?marca=samsung" class="brand" data-name="Samsung" rel="nofollow">
                <img src="{% static 'img/landing/marcas/samsung.webp' %}" alt="Marca Samsung" loading="lazy">
            </a>
            <a href="{% url 'products:grid' %}?marca=asus" class="brand" data-name="Asus" rel="nofollow">
                <img src="{% static 'img/landing/marcas/asus.webp' %}" alt="Marca Asus" loading="lazy">
            </a>
            <a href="{% url 'products:grid' %}?marca=msi" class="brand" data-name="MSI" rel="nofollow">
                <img src="{% static 'img/landing/marcas/msi.webp' %}" alt="Marca MSI" loading="lazy">
            </a>
            <a href="{% url 'products:grid' %}?marca=gigabyte" class="brand" data-name="Gigabyte" rel="nofollow">
                <img src="{% static 'img/landing/marcas/gigabyte.webp' %}" alt="Marca Gigabyte" loading="lazy">
            </a>
        </div>
    </section>
    {% endcache %}
    <section class="seo-text">
    <h2>{{config.nombre_tienda}}: Hardware, Notebooks y Tecnología en Argentina</h2>
    <p>
        En {{config.nombre_tienda}} trabajamos para brindarte una experiencia completa en la compra de productos tecnológicos. 
        Nuestro catálogo incluye notebooks, PCs armadas, placas de video, procesadores, periféricos, celulares, monitores 
        y soluciones de almacenamiento de las marcas más reconocidas del mercado como Intel, AMD, Samsung, Apple, Asus, MSI 
        y muchas más.
    </p>
    <p>
        Realizamos envíos a todo el país mediante Andreani y contamos con múltiples métodos de pago para que puedas 
        comprar de forma segura, rápida y con la mejor financiación disponible. Además, ofrecemos garantía en todos 
        nuestros productos y atención personalizada para asegurarnos de que tengas la mejor experiencia de compra.
    </p>
    <p>
        Si buscás hardware, accesorios o equipos de alto rendimiento, en {{config.nombre_tienda}} encontrás variedad, confianza y 
        precios actualizados todos los días. Descubrí ofertas, novedades y productos destacados especialmente 
        seleccionados para vos.
    </p>
</section>

</div>
{% endblock contenidomain %}

{% block myscripts %}
<script src="{% static 'js/libs/swiper.js' %}"></script>
{% compress js %}
<script src="{% static 'js/landing.js' %}"></script>
{% endcompress %}
<script nonce="{{ request.csp_nonce }}">
function generateSwiper(data) {
    const gripConf = {
        slidesPerView: 3,
        grid: {
        rows: 2,
        fill: "row",
        },
        pagination: {
        el: data.pagination,
        dynamicBullets: true,
        dynamicMainBullets: parseInt(data.bullets),
        clickable: true,
        },
        spaceBetween: 10,
        loop: false,
        autoplay: {
        delay: data.delay,
        disableOnInteraction: false,
        },
        speed: data.speed,
        grabCursor: true,
        breakpoints: {
        0: { slidesPerView: 1, grid: { rows: 2 } },
        740: { slidesPerView: 2, grid: { rows: 2 } },
        1050: { slidesPerView: 3, grid: { rows: 2 } },
        },
    }
    return gripConf;
}

document.querySelectorAll(".products-swiper").forEach(swp => {
    const config = generateSwiper(swp.dataset)
    const swiper = new Swiper(swp, config);
})

const swiperCat = new Swiper(".categories-swiper", {
    slidesPerView: 1,
    spaceBetween: 0,
    pagination: {
        el: ".category-pag",
        clickable: true,
    },
    autoplay: {
        delay: 3500,
        disableOnInteraction: false,
    },
    speed: 800,
    grabCursor: true,
    breakpoints: {
    1050: { slidesPerView: 2},
    },
    });

const swiperBanner = new Swiper(".banner-swiper", {
    slidesPerView: 1,
    spaceBetween: 10,
    loop: true,
    autoplay: {
        delay: 6000,
        disableOnInteraction: false,
    },
    pagination: {
        el: ".banner-pag",
        clickable: true,
    },
    speed: 1000,
});

</script>
{% endblock myscripts %}