{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="description" content="Twinstore es una empresa de venta de productos informáticos. Envíos a todo el país.">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}

{% block head %}
<title>Twinstore</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% compress css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}"/>
<link rel="stylesheet" href="{% static 'css/substyles/django-msg.css' %}"/>
<link rel="stylesheet" href="{% static 'css/widgets.css' %}">
{% endcompress %}
{% endblock head %}

{% block contenidomain %}
{% include 'core/carousel.html' %}
    <h1 class="display-none">Bienvenidos a Twinstore</h1>
    <section class="landing-grid-section">
        <div class="landing-grid">
            <a href="{% url 'products:categoria' 'computos' 'computadoras'  %}" class="landing-box decoration-none">
                <div class="landing-content font-roboto font-bold flex flex-column items-center justify-center text-center gap-1rem width-100 height-100">
                    <i class="bi bi-tv langing-icons"></i>
                    PC ARMADAS
                </div>
            </a>
            <a href="{% url 'products:slug_dispatcher' slug='componentes' %}" class="landing-box decoration-none">
                <div class="landing-content font-roboto font-bold flex flex-column items-center justify-center text-center gap-1rem width-100 height-100">
                    <i class="bi bi-box langing-icons"></i>
                    COMPONENTES
                </div>
            </a>
            <a href="{% url 'core:servicio_tecnico' %}" class="landing-box decoration-none">
                <div class="landing-content font-roboto font-bold flex flex-column items-center justify-center text-center gap-1rem width-100 height-100">
                    <i class="bi bi-wrench langing-icons"></i>
                    SERVICIOS
                </div>
            </a>
            <a href="{% url 'products:slug_dispatcher' slug='dispositivos' %}" class="landing-box decoration-none">
                <div class="landing-content font-roboto font-bold flex flex-column items-center justify-center text-center gap-1rem width-100 height-100">
                    <i class="bi bi-phone langing-icons"></i>
                    DISPOSITIVOS
                </div>
            </a>
        </div>
    </section>
    <section class="landing-section">
        <h2 class="text-center width-100 font-roboto position-relative">
            Nuestras ofertas 🔥
        </h2>
        <div class="swiper ofertaProds">
            <div class="swiper-wrapper">
                {% for producto in productos_descuento %}
                <div class="swiper-slide">
                    <div class="flex flex-column items-center justify-center product-card bg-white position-relative">
                        {% if producto.portada %}
                            {% include 'components/cards_dinamic.html' %} 
                        {% else %} 
                            {% include 'components/cards_static.html' %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next ofertaProds-next"></div>
            <div class="swiper-button-prev ofertaProds-prev"></div>
        </div>
    </section>
{% include 'widgets/home.html' %}
{% if messages %}
    {% for message in messages %}
    <div class="notification-mainpage position-fixed">
        <div class="flex flex-column text-center notification-item django-msg-{{message.tags}} font-roboto">
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock contenidomain %}

{% block myscripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script nonce="{{ request.csp_nonce }}">
    var swiper = new Swiper(".ofertaProds", {
        slidesPerView: 2,
        spaceBetween: 10,
        navigation: {
            nextEl: ".ofertaProds-next",
            prevEl: ".ofertaProds-prev",
        },
        autoplay: {
            delay: 3500,
            disableOnInteraction: false,
        },
        loop: true,
        breakpoints: {
            768: {
                slidesPerView: 3,
                spaceBetween: 10,
            },
            900: {
                slidesPerView: 4,
                spaceBetween: 15,
            },
        },
    });

    var swiper = new Swiper(".myCarousel", {
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        autoplay: {
            delay: 6000,
        },
        slidesPerView: 1,
    });

    var swiper = new Swiper(".myWidgets", {
        slidesPerView: 1,
        spaceBetween: 10,
        navigation: {
            nextEl: ".myWidgets-next",
            prevEl: ".myWidgets-prev",
        },
        });
</script>
{% endblock myscripts %}
