{% extends 'base.html' %}
{% load static custom_filters %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Twinstore - TEST</title>
{% endblock head %}

{% block contenidomain %}
<h1>Test Eventos + Productos</h1>
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr;max-width: 1000px; margin: auto; gap: 20px;">   
{% for producto in productos %}
<article class="card-product line">
    {% if producto.banner %}
        <span class="card-product-discount {% if producto.evento_actual %}event{% endif %}">{{ producto.banner }}</span>
        {% if producto.evento_actual.imagen_banner %}
        <img class="card-product-banner" src="{{ producto.evento_actual.imagen_banner.url }}" alt="{{ producto.evento_actual.nombre }}" height="50" width="50">
        {% endif %}
    {% endif %}
    <a href="{% url 'products:slug_dispatcher' producto.slug %}">
        <header class="card-product__media">
            {% if producto.colores.exists %}
            {% for color in producto.get_portada_color_200 %}
                <img src="{{ color.url }}" alt="{{ producto.nombre }}" data-hex="{{ color.hex }}" class="{% if not forloop.first %}hide{% endif %}">
            {% endfor %}
            {% else %}
                <img src="{{producto.get_portada_200}}" alt="{{producto.nombre}}">
            {% endif %}
        </header>
        <div>
            <p class="card-product__name">{{producto.nombre}}</p>
            <div class="card-product-colors">
            {% if producto.colores.exists %}
                {% for color in producto.colores.all %}
                    <button type="button" aria-label="Seleccionar color" class="card-color-dot {% if forloop.first %}selected{% endif %} btn-card" style="background-color: {{ color.hex }};" data-hex="{{color.hex}}" data-colorId="{{color.id|signing_data}}"></button>
                {% endfor %}
            {% endif %}
            </div>
            <footer class="card-product__footer">
            <div class="card-product__prices">
                <span class="price--current">{{producto.precio_final|formato_pesos}}</span>
                {% if producto.descuento > 0 %}<span class="price--old">{{producto.precio_base|formato_pesos }}</span>{% endif %}
            </div>
            </footer>
        </div>
    </a>
</article>

{% endfor %}
</div>



{% endblock contenidomain %}