{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>AMT</title>
{% endblock head %}

{% block contenidomain %}
    <main>
        <div class="banners">
            <img src="{% static 'img/banner_1.png' %}" alt="BANNER1" class="banner_img">
        </div>
        <h1 style="text-align: center;min-height: 10rem;">AMT</h1>
        <div class="banners">
            <img src="{% static 'img/banner_2.jpg' %}" alt="BANNER1" class="banner_img">
        </div>
    </main>
{% endblock contenidomain %}

{% block contacto %}
    <aside>
        {% include 'contacto.html' %}
    </aside>
{% endblock contacto %}