{% if not subcategoria_obj and not tag == 'gaming' %}
    <p class="filter-item flex justify-between font-roboto margin-1rem">Subcategoria<i class="bi bi-chevron-down"></i></p>
    <div class="filter-expanded">
        {% for sub in sub_categorias %}
            <a href="{% url 'products:categoria_subcategoria' categoria.seccion_id categoria.slug sub.slug %}" class="subfilter-link-mobile display-block font-roboto decoration-none margin-1rem">{{sub.nombre}}</a>
        {% endfor %}
    </div>
{% endif %}

{% if subcategoria_obj %}
{% for nombre_atributo, valores in atributos_unicos.items %}
    {% if nombre_atributo not in request.GET %}
        <p class="filter-item flex justify-between font-roboto margin-1rem">{{nombre_atributo}}<i class="bi bi-chevron-down"></i></p>
        <div class="filter-expanded">
            {% for valor in valores %}
                <a href="?{{ nombre_atributo }}={{ valor }}{% for key, val in request.GET.items %}{% if key != nombre_atributo %}&{{ key }}={{ val }}{% endif %}{% endfor %}" class="filter-link-mobile display-block font-roboto decoration-none margin-1rem">{{valor}}</a>
            {% endfor %}
        </div>
    {% endif %} 
{% endfor %}
{% endif %}

{% if 'marca' not in request.GET and not categoria.seccion_id == 'moviles' %}
    <p class="filter-item flex justify-between font-roboto margin-1rem">Marca<i class="bi bi-chevron-down"></i></p>
    <div class="filter-expanded">
        {% for marca in marcas %}
            <a href="?marca={{ marca.nombre }}{% for key, val in request.GET.items %}{% if key != 'marca' %}&{{ key }}={{ val }}{% endif %}{% endfor %}" class="filter-link-mobile display-block font-roboto decoration-none margin-1rem">{{ marca.nombre }}</a>
        {% endfor %}
    </div>
{% endif %} 