/* stylelint-disable no-descending-specificity */

/* ---------Carrito--------- */
.cart-box {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.cart-prod-cantidad {
    text-align: start;
}

.cart-prod-cantidad p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.cart-items {
    width: 60%;
    gap: 2rem;
}

.cart-table {
    width: 100%;
}

.cart-table thead tr th {
    font-size: 1.1rem;
    font-weight: lighter;
}

.cart-divider-side {
    border-right: 2px solid #bbb;
}

.cart-divider-main {
    border-bottom: 2px solid #bbb;
}

.cart-divider-prod {
    border-bottom: 1px solid #d6d6d6;
}

.items-center td {
    padding: 0.5rem;
    text-align: center;
}

.cart-prod {
    gap: 1rem;
}

.cart-prod span {
    color: #545454;
}

.cart-prod-delete {
    font-size: 1.5rem;
    color: #9a9a9a;
    transition: all ease 0.2s;
}

.cart-prod-delete:hover {
    color: #000;
}

.cart-prod-img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.continue-shopping {
    padding: 0.5rem;
    outline: var(--color-ts) 2px solid;
    max-width: 220px;
    text-align: center;
    font-weight: bold;
    color: var(--color-ts);
    transition: all ease 0.3s;
}

.continue-shopping:hover {
    background-color: var(--color-ts);
    color: white;
}

.cart-price-sub {
    font-family: sans-serif;
    font-weight: bold;
}

.cart-finish {
    width: 40%;
}

.cart-finish-table caption {
    text-align: start;
    width: 100%;
    border-bottom: 2px solid #bbb;
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 0.1rem;
}

.cart-finish-table {
    padding-top: 1rem;
    width: 100%;
}

.cart-finish-table tr th {
    text-align: start;
    padding: 0.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
}

.cart-finish-table tr td {
    text-align: end;
    padding-right: 0.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.cart-finish-shipping {font-weight: normal}

.cart-finish-info {
    border: #000;
}

.cart-finish-button {
    color: white;
    width: 100%;
    margin-top: 1.2rem;
    padding: 0.8rem;
    font-weight: bold;
    text-align: center;
    transition: all ease 0.3s;
    display: block;
}

@keyframes precio-flash {
    0% {
        color: #fff;
        transform: scale(1.05);
    }

    100% {
        color: #000;
        transform: scale(1);
    }
}

.cart-total-precio.animate-flash {
    animation: precio-flash 0.2s ease-in-out;
}

.cart-finish-comprar {
    background-color: var(--color-ts);
}

.cart-finish-comprar:hover ,.cart-volver-tienda:hover {
    background-color: #1e2d6e;
}

.cart-finish-presupuesto {
    background-color: rgb(134 134 134);
}

.cart-finish-presupuesto:hover {
    background-color: #505050;
}

.cart-volver-tienda {
    color: white;
    padding: 0.8rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-ts);
    transition: all ease 0.3s;
}

.cart-empty-msg {
    text-align: center;
    justify-content: center;
    margin:auto;
    margin-left: 10px;
}

.cotizar-envio {
    color: #292929;
    font-size: 0.9rem;
}