/* styles.css */

/* ---------ESTANDARIZAR CLASES------- */

/* Lista de clases: 
gap-1rem
decoration-none
list-none
items-center
flex-grow
justify-center
*/


/* Variables de CSS para colores y otros estilos */
:root {
    --primary-color: #ededed;
    --color-fs: rgb(56, 93, 214);
    --background-color: #fefefe;
    --search-bg-color: #ededed;
    --search-focus-bg-color: #fff;
    --box-shadow-color: rgba(35, 77, 212, 0.4);
    --box-shadow-outline: rgba(35, 77, 212, 0.8);
    --footer: rgb(56, 93, 214);
    --font-type : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--primary-color);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-box {
    flex: 1;
}

.divider-content {
    padding-top: 7rem;
}

/* --------ATRIBUTOS UNIVERSALES------ */
.flex {
    display: flex;
}
.display_none {
    display: none;
}
.border_none {
    border: none;
}
.bg-transparent {
    background-color: transparent;
}
.cursor_pointer {
    cursor: pointer;
}
.flex-column {
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.decoration-none {
    text-decoration: none;
}
.gap-1rem {
    gap: 1rem;
}
.list-none {
    list-style: none;
}
.flex-grow{
    flex-grow: 1;
}
.items-center{
    align-items: center;
}
/* --------Header-------- */
.header-tag {
    background-color: var(--background-color);
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 7rem;
    transition: height 0.3s ease, padding 0.3s ease;
}

.header a {
    text-decoration: none;
    font-size: 0.8rem;
}

.header {
    max-width: 80vw;
    margin: auto;
}

.header-item {
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    transition: all 0.4s ease;
}

.header-item.hide-on-scroll {
    opacity: 0;
    transform: translateY(-150%);
    transition: height 0.3s ease, padding 0.3s ease;
    pointer-events: none;
}
.header-item.hidden { 
    display: none;
}

.header-tag.shrink {
    height: 4rem;
    padding: 0;
    transition: height 0.3s ease;
}

.header-tag.shrink .b-arriba {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.header-tag.shrink .logo {
scale: 1;
transition: scale 0.3s ease;
}
.header-tag.shrink .box-carrito_login a {
padding: 0.6rem;
}

/* --------Login Carrito-------- */
.box-carrito_login {
    gap: 0.5rem;
    position: relative;
}

.header-item .box-carrito_login a {
    padding: 0.8rem;
    text-align: center;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.user-icon {
    gap: 5px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
}

.dropdown {
    z-index: 1000;
    position: absolute;
    top: 45px;
    right: 0;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0;
    min-width: 150px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.dropdown li {
    padding: 0px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.9rem; /* Reducir tamaño */
    transition: background 0.3s ease, border-radius 0.3s ease;
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-weight: 600;
}

.dropdown li:hover {
    background: #f5f5f5;
    border-radius: 8px;
}

.dropdown.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear;
}

.carrito {
    color: #fff;
    border-radius: 10px;
    background-color: var(--color-fs);
    font-size: 1rem!important;
    text-align: center;
    position: relative;
}

.carrito-cantidad {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 0.8rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito-feedback {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 300px;
    background-color: #ffffff;
    font-family: 'Roboto';
    color: #000;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
    z-index: 1200;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.carrito-feedback.oculto {
    opacity: 0;
    pointer-events: none;
}

.carrito-feedback-imgbox {
    height: 64px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carrito-feedback-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.carrito-feedback-info p {
    font-family: 'Roboto';
    font-size: 1rem;
    color: #444444;
}

.carrito-feedback-info p:last-child {
    font-weight: bold;
}

.carrito-feedback-divider {
    height: 20px;
    margin-top: 1rem;
    padding: 1rem 0.5rem;
    border-top: 1px solid #aaaaaa;
    display: flex;
    justify-content: space-between;
}

.carrito-feedback-divider p {
    font-weight: bold;
    color: #444444;
    font-family: 'Roboto';
}

.carrito-feedback-links {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid #9b9b9b;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}

.carrito-feedback-links a{
    text-decoration: none;
    background-color: #005dc0;
    font-family: 'Roboto';
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.carrito-feedback-imgbox img {
    height: 64px;
    width: 64px;
    object-fit: contain;
}

.carrito-total-precio {
    position: relative;
}




/* --------Navbar-------- */
.nav-list {
    gap: 3.5rem;
    align-items: center;
    list-style: none;
}

.nav__boton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s;
    align-items: center;
    gap: 0.3rem;
}

.nav__link {
    color: #000;
    transition: color 0.3s;
}

.nav__item:hover {
    color: var(--color-fs)
}

.navbar {
    position: relative;
}

/* --------Navbar Productos Display-------- */
.box-productos-display {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border: #ededed solid 1px;
}

.ul-productos-display {
    min-width: 11rem;
}

.nav-productos-items {
    background-color: #ededed;
    padding: 1rem;
    gap: 1rem;
}

.nav-productos-items.categoria-selec {
    background-color: var(--color-fs);
    color: #fff;
    font-weight: 600;
}

.result-productos-display {
    flex-grow: 1;
    background-color: var(--search-focus-bg-color);
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 0.8rem;
}

.result-productos-column {
    flex-direction: column;
    gap: 1rem;
    min-width: 30%;
}

.result-productos-column a {
    padding: 0;
    text-align: start;
    color: #545454;
    transition: all 0.2s;
}

.result-productos-titulo {
    color: #000;
    font-weight: 600;
    border-bottom: #bbb solid 2px;
}

.result-productos-titulo:hover {
    color: var(--color-fs);
    border-color: var(--color-fs);
}
/* --------Logo-------- */
.header-item > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
}

.header-item > a > img{
    height: 48px;
}



/* --------Busqueda-------- */
.busqueda {
    flex-grow: 1;
    background-color: var(--search-bg-color);
    border-radius: 10px;
    position: relative;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.busqueda-input {
    padding: 0.4rem;
    width: 100%;
    padding-right: 2rem;
    outline: none;
    transition: all 0.3s;
}

.busqueda-input:focus {
    background-color: var(--search-focus-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    outline: 2px solid var(--box-shadow-outline);
}

.busqueda-boton {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
}

.lupa {
    font-size: 1.1rem;
    color: var(--color-fs);
}

/* --------Cards y Prod grid-------- */
.product-box {
    width: 1024px;
    margin: auto;
    padding: 2rem;
}

.product-view{
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 15px;
    border: #9a9a9a solid 1px;
    box-shadow: 0 0 5px #4a4a4a
}

.product-info {
    padding: 1rem;
    gap: 2rem;
    justify-content: space-between;
}

.product-title-marca {
    color: #a4a4a4;
}

.product-title-nombre {
    font-size: 1.5rem;
}

.product-title-precio{
    font-size: 1.3rem;
    font-weight: 500;
}

.product-title-data {
    border-top: 1px dashed #a4a4a4;
    font-size: 0.7rem;
    color: #4a4a4a;
}

.product-cart {
    background-color: var(--color-fs);
    border-radius: 10px;
    text-align: center;
    height: 100%;
    padding: 10px;
    font-weight: 600;
    color: #ededed;
}

.product-specs {
    max-width: 600px;
    margin: auto;
}

.product-specs table td,th {
    font-family: 'Roboto';
    font-size: 1rem;
    color: #1d1d1d;
}

.product-specs table td {
    color: #353535;
}

.product-specs h2 {
    font-style: italic;
    color: #1d1d1d;
    font-family: 'Roboto';
}

.product-specs-divider {
    border-top: 2px solid #a1a1a1;
    height: 20px;
    padding: 1rem;
    margin-top: 1rem;
}

table.ficha-especificaciones {
    width: 100%;
    border-collapse: collapse;
}

.ficha-especificaciones th {
    background: #f5f5f5;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.ficha-especificaciones td {
    padding: 10px;
    border-top: 1px solid #eee;
}

.ficha-especificaciones tr:nth-child(even) td {
    background: #fafafa;
}

.product-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 300px;
}


.thumbnail {
    width: 60px;
    height: 60px;
    cursor: pointer;
    object-fit: contain;
    border-radius: 5px;
    border: #9a9a9a solid 1px;
    transition: border 0.3s;
}

.thumbnail:hover {
    border-color: var(--color-fs);
}

.product-slider {
    width: 400px;
    height: 400px;
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 🔧 este cambio es importante */
}

.product-slider::-webkit-scrollbar {
    display: none;
}

.slider-track {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.slider-track img {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    scroll-snap-align: center;
    border-radius: 10px;
    object-fit: contain;
}

.product-box-grid {
    margin-top: 1rem;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center
}

/** MOBILE STYLES */

.filter-active-box-mobile {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.filter-ordenar-box {
    padding: 1rem 0.8rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
    font-size:18px;
}
.filter-ordenar-box li {
    font-family: var(--font-type);
}

.filter-button,.ordenar-button {
    color: #5d94ca;
    padding: 0rem 1rem;
}

.filter-button {
    border-right: 1px solid #a1a1a1;
}

.ordenar-button {
    border-left: 1px solid #a1a1a1;
}

.filter-box-mobile,.ordenar-box-mobile {
    display: none;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #a1a1a1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.ordenar-box-mobile {
    padding-bottom: 0.5rem;
}

.filter-item {
    display: flex;
    color: #333;
    font-size: 20px;
    font-family: var(--font-type);
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 1px rgb(184, 184, 184) solid;
}

.filter-expanded {
    display: none;
}

.filter-expanded:last-child {
    padding-bottom: 0.5rem;
}

.filter-link-mobile {
    display: block;
    text-decoration: none;
    color: #444444;
    margin: 1rem 1rem;
    font-size: 16px;
    border-bottom: 1px solid #d6d6d6;
    font-family: var(--font-type);
}

.ordenar-opcion {
    display: block;
    text-decoration: none;
    color: #444444;
    margin: 1rem 1rem;
    font-size: 16px;
    border-bottom: 1px solid #d6d6d6;
    font-family: var(--font-type);
}

.filter-box-mobile.show {
    display: block;
}

.filter-expanded.show {
    display: block;
}

.ordenar-box-mobile.show {
    display: block;
}

.filter-item i {
    transition: transform 0.3s ease-in-out;
}

.filter-item.active i {
    transform: rotate(180deg);
}

/** MOBILE STYLES */

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 193px;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.product-card span {
    color: #111;
    width: 100%;
    height: 57px;
    display: inline-block;
    text-align: center;
    font-family: var(--font-type);
}

.product-card p {
    margin-top: 0.5rem;
    text-align: center;
    color: #474747;
    font-weight: bold;
}

.product-card strong {
    margin: 0.5rem 1rem 0 1rem;
    width: 80%;
    background-color: var(--color-fs);
    padding: 0.3rem;
    display: inline-block;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: var(--font-type);
}

.product-card-img {
    width: 147.5px;
    height: 147.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-img img {
    width: 147.5px;
    height: 147.5px;
    object-fit: contain;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.product-outside-link {
    color: #9a9a9a;
}

.filter-box {
    width: 140px;
    flex-shrink: 0;
    gap: 2rem;
}

.filter-box ul {
    padding-top: 0.3rem;
}

.filter-title {
    border-bottom: 2px var(--color-fs) solid;
    width: 100%;
    margin-bottom: 0.3rem;
    display: block;
}

.filter-link {
    color: #4d4d4d;
    display: block;
    margin: 0.2rem;
    border-bottom: 1px solid #d6d6d6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter-active-box {
    gap: 0.4rem;
    align-items: flex-start; 
}

.filter-active-link {
    padding: 0.2rem;
    font-size: 0.9rem;
    color: #2c3e50;
    border: #818181 1px solid;
    background-color: white;
    border-radius: 6px;
    white-space: nowrap;   /* Evita que el texto se divida en varias líneas */
    max-width: 100%;
}

.filter-link:hover {
    border-bottom: #1a1a1a solid 1px;
}
.product-ordenby{
    height: 2rem;
    text-align: center;
    border: #c5c5c5 solid 1px;
    border-left: #8b8b8b solid 4px;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-container button {
    width: 25px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}

.quantity-container button:last-child{
    border-radius: 0 10px 10px 0;
}
.quantity-container button:first-child{
    border-radius: 10px 0 0 10px;
}

.quantity-container input {
    width: 40px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 40px;
}

/* ---------Carrito---------*/
.cart-box {
    margin: 1rem;
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cart-prod-cantidad {
    text-align: start;
}

.cart-prod-cantidad p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.cart-items {
    width: 60%;
    gap: 2rem;
}

.cart-table {
    width: 100%;
}

.cart-table thead tr th {
    font-size: 1.1rem;
    font-weight: lighter;
}

.cart-divider-side {
    border-right: 2px solid #bbbbbb;
}

.cart-divider-main {
    border-bottom: 2px solid #bbbbbb;
}

.cart-divider-prod {
    border-bottom: 1px solid #d6d6d6;
}

.items-center td {
    padding: 0.5rem;
    text-align: center;
}

.cart-prod {
    gap: 1rem;
}

.cart-prod span {
    color: #545454;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cart-prod-delete {
    font-size: 1.5rem;
    color: #9a9a9a;
    transition: all ease 0.2s;
}

.cart-prod-responsive {
    gap: 0.5rem;
    position: relative;
}

.cart-prod-delete:hover {
    color: #000;
}

.cart-prod-img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.continue-shopping {
    padding: 0.5rem;
    outline: var(--color-fs) 2px solid;
    max-width: 220px;
    text-align: center;
    font-weight: bold;
    color: var(--color-fs);
    transition: all ease 0.3s;
}

.continue-shopping:hover {
    background-color: var(--color-fs);
    color: white;
}

.cart-price-sub {
    font-family: sans-serif;
    font-weight: bold;
}

.cart-finish {
    width: 40%;
}

.cart-finish-table caption {
    text-align: start;
    width: 100%;
    border-bottom: 2px solid #bbbbbb;
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 0.1rem;
}

.cart-finish-table {
    padding-top: 1rem;
    width: 100%;
}

.cart-finish-table tr th {
    text-align: start;
    padding: 0.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
}

.cart-finish-table tr td {
    text-align: end;
    padding-right: 0.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.cart-finish-shipping {
    font-weight: normal !important
}

.cart-finish-info {
    border: #000;
}

.cart-finish-button {
    color: white;
    width: 100%;
    margin-top: 1.2rem;
    padding: 0.8rem;
    font-weight: bold;
    text-align: center;
    transition: all ease 0.3s;
    display: block;
}

@keyframes precioFlash {
    0% {
        color: #fff;
        transform: scale(1.05);
    }
    100% {
        color: #000;
        transform: scale(1);
    }
}

.cart-total-precio.animate-flash {
    animation: precioFlash 0.2s ease-in-out;
}

.cart-finish-comprar {
    background-color: var(--color-fs);
}

.cart-finish-comprar:hover ,.cart-volver-tienda:hover {
    background-color: #1e2d6e;
}

.cart-finish-presupuesto {
    background-color: rgb(134, 134, 134);
}

.cart-finish-presupuesto:hover {
    background-color: #505050;
}

.cart-volver-tienda {
    color: white;
    padding: 0.8rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-fs);
    transition: all ease 0.3s;
}

.cart-empty-msg {
    text-align: center;
    justify-content: center;
    margin:auto;
    margin-left: 10px;
}

/* --------Menu-------- */
.menu {
    z-index: 2000;
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background: #222222;
    overflow-y: auto;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    border: none;
    background-color: var(--color-fs);
    color: white;
    padding: 0.3rem;
    font-family: 'Roboto';
    border-radius: 10px;
}

.menu.active {
    opacity: 1;
    left: 0; /* Se despliega hacia la derecha */
}

.menu-title {
    font-family: "Big Shoulders";
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu-subtitle {
    display: flex;
    gap: 0.2rem;
}

.menu span{
    text-decoration: none;
    font-family: "Roboto";
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.menu li {
    color: white;
    cursor: pointer;
}
.submenu {
    display: none;
}

.submenu li {
    background: #353535;
}

.submenu li span, .submenu li span a {
    font-family: "Montserrat";
    font-size:15px;
    color: white;
}

.dropdown-mobile .submenu .dropdown-mobile .submenu li {
    background: #444444;
}

.dropdown-mobile .submenu .dropdown-mobile .submenu span {
    border-bottom: 1px solid #555555;
}

.dropdown-mobile .submenu .dropdown-mobile .submenu .submenu span {
    background: #696969;
}

.bi-chevron-down.rotated {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.bars-menu {
    color: #111;
    font-size: 1.1rem;
}

/* --------FOOTER-------- */
footer {
    box-shadow: -2px -2px 3px 3px var(--box-shadow-color);
    min-height: 15rem;
    padding: 1rem;
    background-color: var(--footer);
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: auto;
}
.link-box-footer {
    width: 70%;
}
.redes-footer {
    width: 90%;
}
.link-box-item {
    border-bottom: #999 solid 1px;
    padding: 10px;
}
.link-box-footer a {
    text-decoration: none;
    color: #ededed;
}
.links-a-list {
    padding: 10px;
}
.redes-footer {
    text-align: center;
} 

/* --------Banners-------- */
.banners {
    width: 100%;
    overflow: hidden;
}

.banner_img {
    height: auto;
    width: 100%;
    display: block;
}

/* --------UNITE------- */

.unite_box {
    background-color: rgb(218, 201, 191);
    align-items: center;
    padding-left: 17%;
    padding-right: 17%;
    height: 300px;
}

.unite_text {
    gap: 2rem;
}
.unite_img {
    width: 100%;
    height: 100%;
}

/* --------HOVERS-------- */

.hover_pad_weight:hover {
    color: var(--color-fs);
    padding-left: 0.1rem;
    font-weight: 600;
}

/* -----Pedidos----- */
.cart-divider-main {
    border-bottom: 2px solid #bbbbbb;
}
.users-pedidos-box {
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    max-width: 1024px;
    margin: auto;
}
.users-pedidos-table {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-collapse: separate;
    border-spacing: 10px 10px;
}
.users-pedidos-tr td {
    padding: 10px;
}
.users-pedidos-id {
    font-weight: bold;
}
.users-pedidos-status {
    border-radius: 12px;
    padding: 10px;
}
.users-pedido-count {
    color: #686868;
    font-weight: bold;
}
.users-responsive-hide{
    display: none;
}
.users-pedidos-tr ul{
    list-style: none;
    text-align: start;
}
.users-pedidos-tr li{
    padding-bottom: 0.3rem;
}
.users-pedido-prod {
    display:inline;
    font-weight: bold;
}
.users-pedidos-hide-id {
    display: none;
    font-family: 'Roboto';
    color: #555;
    font-size: 0.8rem;
    text-align: start;
    width: 100%;
}

/* -----Interfaz de usuario----- */
.users-box {
    display: flex;
    width: 1024px;
    height: 360px;
    max-width: 100%;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(97, 97, 97);
    border-radius: 15px;
}

.padding-1rem {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.users-img-box {
    position: relative;
    width: 60%;
    overflow: hidden;
    border-radius: 12px 0 0 12px;
}

.users-img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    transform: scale(1.1);
    z-index: 1;
}

.users-email-link {
    color: #005dc0;
}

.users-failpay {
    list-style: none;
    margin-top: 0.5rem;
}

.users-failpay li {
    color: #444444;
}

.users-img-overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
    font-family: 'Roboto';
}

.users-title {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
}

.users-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.users-img-overlay h2 {
    font-size: 2.5rem;
}

.users-form-box {
    width: 40%;
    background-color: #fff;
    border-radius: 0px 15px 15px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.user-form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.users-form-subbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.users-form-subbox a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #777777;
    transition: all ease 0.3s;
}

.users-form-subbox a:hover {
    color: #000000;
}

.users-button {
    background-color: #007bff;
    border: none;
    padding: 0.5rem;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    border-radius: 12px;
    width: 40%;
    min-width: 130px;
    transition: background-color ease 0.3s;
    cursor: pointer;
}

.users-button:hover {
    background-color: #005dc0;
}

.users-form-box h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 400;

}

.user-form-control {
    width: 100%;
    padding: 12px 16px;
    background-color: #ededed;
    margin: 0.3rem;
    border: none;
    border-left: #007bff 4px solid;
    color: #3a3a3a;
}

.user-form-control:focus {
    outline: none;
    box-shadow: 0 0 4px rgb(63, 154, 252);
}

.users-facturacion-box {
    background-color: #fff;
    margin: auto;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgb(97, 97, 97);
    border-radius: 12px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: max-content;
    min-width: 330px;
}

.users-facturacion-type {
    display: flex;
    flex-direction: column;
    color: #2e2e2e;
    width: 100%;
}

.users-facturacion-type select {
    background-color: #f3f3f3;
    padding: 10px;
    outline: none;
    border: none;
    border-left: 4px solid #6e6e6e;
    font-family: 'Roboto';
    font-size: 1rem;
}

.users-facturacion-type option {
    background-color: #f3f3f3;
    color: #333;
    font-size: 0.9rem;
}

.users-facturacion-box form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.users-facturacion-form {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.users-facturacion-form input,.users-facturacion-email {
    font-family: 'Roboto';
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-left: #007bff 4px solid;
    background-color: #ededed;
    font-size: 1rem;
}

.users-facturacion-form input:focus,.users-facturacion-email:focus {
    outline: none;
    box-shadow: 0 0 4px rgb(63, 154, 252);
}

.users-facturacion-button {
    padding: 8px 15px;
    background-color: #007bff;
    border: none;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
    border: 2px solid #007bff;
}

.users-confirm-links {
    text-decoration: none;
    width: 160px;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
}

.users-facturacion-button:hover {
    background-color: white;
    color: #007bff;
}

.users-facturacion-box h2 {
    color: #2e2e2e;
}
.users-facturacion-box p {
    color: #5f5f5f;
}

.users-perfil {
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    width: 100%;
    margin: auto;
    max-width: max-content;
    min-width: 330px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(168, 168, 168);
    border-radius: 12px;
}

.container-form {
    width: 100%;
    height: 2.5rem;
    position: relative;
}
.form__input {
    font-family: 'Roboto';
    font-size: 1rem;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ededed;
    border: none;
    border-left: 4px solid #1b8dd8;
    outline: none;
    color: #333333;
    padding-left: 1em;
}
.form__label {
    position: absolute;
    background-color: #ededed;
    color: #8d8d8d;
    left: 1em;
    top: 0.75em;
    cursor: text;
    border-radius: 0.5em;
    transition: all 0.2s ease-in;
}
.form__input:hover {
    border-left: 4px solid #5faee2;
}
.form__input:focus {
    box-shadow: 0 0 4px rgb(63, 154, 252);
}

input[type="text"]:focus ~ .form__label,
input[type="email"]:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    top: -0.5em;
    font-size: 0.75rem;
    padding: 0 0.75em;
    background-color: #fff;
    color: #838383;
}

.users-select {
    width: 100%;
    padding: 10px;
    background-color: #f3f3f3;
    outline: none;
    border: none;
    border-left: 4px solid #6e6e6e;
    font-family: 'Roboto';
    font-size: 1rem;
}

.users-perfil h2 {
    font-family: 'Roboto';
    color: #292929;
    padding: 0;
    margin: 0;
}

.users-perfil-facturacion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.users-perfil-form {
    width: 100%;
}

.users-perfil-facturacion span {
    border-bottom: 1px solid #d8d8d8;
}

.users-divider {
    border-bottom: 2px solid #ededed;
}

.users-perfil-pedido {
    width: 50%;
    padding: 1rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.users-perfil-pedido h3 {
    text-align: start;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
}

.cart-finish-facturacion {
    font-family: 'Roboto';
    width: 100%;
    border-collapse: separate;
}

.cart-finish-facturacion th {
    text-align: start;
}

.cart-finish-facturacion td {
    text-align: end;
}

.cart-finish-facturacion thead {
    font-weight: bold;
}

.cart-finish-facturacion tbody td, tfoot{
    font-weight: 600;
    font-family: 'Roboto';
}

.cart-finish-facturacion tbody th{
    font-weight: normal;
    color: #575757;
    font-size: 0.9rem;
}

.cart-finish-facturacion tbody p {
    display: inline-block;
    font-weight: bold;
    color: #575757;
}

.cart-finsh-prods th{
    padding: 0.5rem 0;
    font-family: 'Roboto';
}

.cart-formadepago {
    list-style: none;
    max-width: 300px;
}

.cart-formadepago li {
    padding: 0.5rem 0;
    font-weight: bold;
}

.cart-presupuestar,.cart-finalizarcompra {
    text-decoration: none;
    display: block;
    background-color:#1b8dd8;
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 70%;
}

.cart-finalizarcompra {
    font-size: 1.2rem;
    background-color:#146ba5;
    width: 100%;
    margin: 0.5rem 0;
    border: none;
}

.cart-formadepago-details {
    font-family: 'Roboto';
    padding-top: 0.5rem;
    font-weight: 300;
    text-align: justify;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

input[type="radio"]:checked + label + .cart-formadepago-details {
    max-height: 300px;
    opacity: 1;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}

#loading-overlay .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-overlay p {
    font-size: 1.2rem;
    color: #333;
}

.bloqueable[disabled] {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
}

.product-result p,select, select option {
    font-family: 'Roboto';
}

.product-result p,select, select option {
    font-family: 'Roboto';
}

.box-checkout-pro {
    width: 100%;
}

.boton-checkout-pro {
    display: flex;
    margin-top: 20px;
    align-items: center;
    background-color: #468edb;
    text-decoration: none;
    padding: 1rem;
    border-radius: 12px;
    color: white;
    font-weight: 'Roboto';
    font-weight: bold;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.boton-checkout-pro img {
    width: 50px;
    height: auto;
    border-radius: 8px;
}

.boton-checkout-pro:hover {
    box-shadow: 0px 0px 15px rgba(0, 153, 255, 0.3);
    background-color: #31659c;
}

/* --------Media Queries-------- */
@media screen and (max-width: 1024px) {
    .header {
        max-width: 90vw;
    }
    .icon_navbar {
        display: none;
    }
    .nav-list {
        gap: 3rem;
    }
    .unite_box {
        padding-left: 10%;
        padding-right: 10%;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-box {
        width: 90%;
    }
    .cart-items {
        width: 70%;
    }
    .cart-finish {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .menu-toggle,.b-abajo,.box-logo-close_menu {
        display: flex;
    }
    .b-arriba {
        display: none;
    }
    .top-header-item {
        justify-content: space-between;
    }
    .navbar {
        display: none;
    }
    .links-a-list {
        height: 100px;
        gap: 0.5rem;
        flex-flow: column wrap;
        justify-content: start;
    }
    .unite_img {
        display: none;
    }
    .unite_box {
        padding: 0;
        justify-content: center;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .products-nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .product-box-grid{
        flex-direction: column;
        margin-top: 0;
        padding-top: 1rem;
        align-items: center;
    }
    .cart-box {
        flex-direction: column;
    }
    .cart-items,.cart-finish {
        width: 100%;
    }
    .product-view {
        flex-direction: column;
        align-items: center;
    }
    .thumbnails {
        flex-direction: row;
        height: auto;
    }
    .product-info {
        width: 100%;
    }
    .product-slider{
        width: 340px;
        height: 340px;
    }
    .slider-track img {
        width: 340px;
        height: 340px;
    }
    .users-pedidos-hide {
        display: none;
    }
    .users-pedidos-hide-id {
        display: block;
    }
}

@media (max-width: 700px) {
    .users-form-box {
        width: 50%;
    }
    .users-img-box {
        width: 50%;
    }
    .users-perfil {
        flex-direction: column;
        gap: 1rem;
    }
    .users-perfil-facturacion,.users-perfil-pedido {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .header {
        max-width: 100vw;
    }
    .redes-footer {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .product-box{
        padding: 1rem;
        width: 100%;
    }
    .carrito {
        font-size: 1.3rem!important;
    }
    .carrito-total-precio {
        display: none;
    }
    .cart-price-sub,.cart-responsive-hide {
        display: none;
    }
    .cart-prod-responsive {
        display: inline-block;
    }
    .cart-prod-delete {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .cart-prod-cantidad p {
        display: block;
    }
    .product-result {
        flex-direction: column;
        gap: 0.5rem;
    }
    .filter-box {
        flex-direction: row;
        justify-content: center;
    }
    .filter-active-box {
        flex-direction: row;
    }
    .product-card-img {
        height: 130px;
        width: 130px;
    }
    .product-card-img img {
        height: 130px;
        width: 130px;
    }
    .product-card {
        width: 160px;
    }
    .users-img-box {
        display: none;
    }
    .users-form-box {
        width: 100%;
        border-radius: 12px;
    }
    .users-facturacion-form {
        flex-direction: column;
    }
    .users-confirm-links {
        font-size: 0.8rem;
        width: 140px;
    }
    .padding-1rem {
        padding: 0.3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .carrito-feedback {
        position: fixed;
        top: 5rem;
        right: 0.5rem;
        width: 80%;
    }
}