{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="description" content="{% if subcategoria_obj %}{{subcategoria_obj.nombre}}{% else %}{{categoria.nombre}}{% endif %}; {{prod_totales}} resultados.{% if marcas %} Marcas: {{ marcas|join:", " }}.{% endif %}{% for producto in productos|slice:":3" %}{{ producto.nombre }}. {% endfor %}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}

{% block head %}
<title>{{categoria.nombre}} - Twistore</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}" />
<link rel="stylesheet" href="{% static 'css/prod-grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}" />
{% endcompress %}
{% endblock head %}

{% block contenidomain %}
{% if subcategoria_obj %} <h1 class="display-none">{{subcategoria_obj.nombre}}</h1> {% else %} <h1 class="display-none">{{categoria.nombre}}</h1>{% endif %}
<div class="product-box flex items-center flex-column width-100">
    <nav class="flex justify-between items-center products-nav">
        {% include 'partials/header_links.html' %}
        <div id="orden-result">
            {% include 'partials/orden_resultado.html' %}
        </div>
    </nav>
    {% if productos %}
    <div class="flex gap-1rem product-box-grid">
        <div class="flex flex-column filter-box">
            {% include 'partials/filtros_dinamicos.html' %}
        </div>
        <div style="border-right: 2px solid #bbbbbb"></div>
        <main class="flex justify-center">
            <div class="grid-container">
                {% include 'partials/product_grid.html' %}
            </div>
        </main>
    </div>
    <div class="paginacion margin-1rem flex justify-center gap-05rem font-roboto">
        {% include 'partials/paginacion.html' %}
    </div>
    <div id="loading-overlay" class="loading-overlay position-fixed display-none flex-column items-center justify-center">
        <div class="spinner"></div>
        <p>Procesando...</p>
    </div>
    {% else %}
    <div class="flex items-center justify-center">
        <img src="{% static 'img/empty.webp' %}" height="600" width="600" alt="No hay nada aqui">
    </div>
    {% endif %}
</div>
{% include 'widgets/gaming.html' with color="white" %}
{% endblock contenidomain %}
{% block myscripts %}
{% if subcategoria_obj %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:subcategoria_ajax' categoria.slug subcategoria_obj.slug  %}",
    };
</script>
{% else %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:categoria_ajax' categoria=categoria.slug %}",
    };
</script>
{% endif %}
<script src="{% static 'js/dinamic-filter.js' %}"></script>
{% endblock myscripts %}
