{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content={{categoria.description_seo|default:"Twinstore es una empresa de venta de productos informaticos. Envíos a todo el país."}}>
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}

{% block head %}
<title>{{categoria}} - Twistore</title>
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}" />
<link rel="stylesheet" href="{% static 'css/prod-grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}" />
{% endblock head %}

{% block contenidomain %}
<div class="product-box main-box">
    <nav class="flex justify-between items-center products-nav">
        {% include 'partials/header_links.html' %}
        <div id="orden-result">
            {% include 'partials/orden_resultado.html' %}
        </div>
    </nav>
    <div class="flex gap-1rem product-box-grid">
        <div class="flex flex-column filter-box">
            {% include 'partials/filtros_dinamicos.html' %}
        </div>
        <div style="border-right: 2px solid #bbbbbb"></div>
        <main class="flex justify-center">
            <div class="grid-container">
                {% include 'partials/product_grid.html' %}
            </div>
        </main>
    </div>
    <div class="paginacion margin-1rem flex justify-center gap-05rem font-roboto">
        {% include 'partials/paginacion.html' %}
    </div>
    <div id="loading-overlay" class="loading-overlay position-fixed display-none flex-column items-center justify-center">
        <div class="spinner"></div>
        <p>Procesando...</p>
    </div>
</div>
{% endblock contenidomain %}
{% block myscripts %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        categoria: "{{categoria}}",
        apiUrl: "{% url 'products:categoria_ajax' categoria=categoria %}",
    };
</script>
<script src="{% static 'js/dinamic-filter.js' %}"></script>
{% endblock myscripts %}
