{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Descubrí todo el mundo Gaming en Twinstore. Equipos, componentes y periféricos para potenciar tu experiencia de juego.">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Lo mejor del Gaming en un solo lugar, Twinstore Gaming_.">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}

{% block theme %}gaming{% endblock theme %}

{% block head %}
<title>Gaming - Twistore</title>
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}" />
<link rel="stylesheet" href="{% static 'css/prod-grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}" />
{% endblock head %}

{% block contenidomain %}
<h1 class="display-none">Gaming</h1>
<div class="product-box main-box">
    <h2 class="color-fff text-center font-bold font-roboto" style="font-size: 1.8rem;">Conocé nuestro apartado Gaming_</h2>
    <div class="padding-10px border-1px"></div>
    <div class="padding-10px"></div>
    <nav class="flex justify-between items-center products-nav gap-1rem">
        <div>
            <a href="{% url 'core:home' %}" class="decoration-none product-outside-link font-roboto">Inicio</a>
            <i class="bi bi-chevron-right product-outside-link"></i>
            <span class="font-roboto font-bold color-fff">Gaming</span>
        </div>
        <div id="orden-result">
            {% include 'partials/orden_resultado.html' %}
        </div>
    </nav>
    <div class="flex gap-1rem product-box-grid">
        <main class="flex justify-center">
            <div class="grid-container">
                {% include 'partials/product_grid.html' %}
            </div>
        </main>
    </div>
    <div class="paginacion margin-1rem flex justify-center gap-05rem font-roboto">
        {% include 'partials/paginacion.html' %}
    </div>
</div>
{% endblock contenidomain %}

{% block myscripts %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:gaming_api' %}",
    };
</script>
<script src="{% static 'js/dinamic-filter.js' %}"></script>
{% endblock myscripts %}