{% extends 'base.html' %}
{% load static %}
{% block contenidomain %}
<ul class="filter-ordenar-box">
    <li class="filter-button"><i class="bi bi-filter"></i>Filtros</li>
    <li>{{categoria}}</li>
    <li class="ordenar-button"><i class="bi bi-arrow-down-up"></i>Ordenar</li>
    <div class="filter-box-mobile" id="filters-box-mobile">
        {% include 'partials/filtros_dinamicos_mobile.html' %}
    </div>
    <div class="ordenar-box-mobile">
        <a href="#" data-orden="date" class="ordenar-opcion">Por los Últimos</a>
        <a href="#" data-orden="price_higher" class="ordenar-opcion">Por precio: Mayor a menor</a>
        <a href="#" data-orden="price_lower" class="ordenar-opcion">Por precio: Menor a mayor</a>
    </div>
</ul>
<div id="filter-active-mobile">
    {% include 'partials/filtros_activos_mobile.html' %}
</div>
<main class="product-box main-box">
    <div class="grid-container">
        {% include 'partials/product_grid.html' %}
    </div>
</main>
{% endblock contenidomain %}

{% block myscripts %}
<script>
    window.filters = {
        categoria : "{{categoria}}",
        apiUrl :"{% url 'products:categoria_ajax' categoria=categoria %}"
    };
</script>
{% endblock myscripts %}