{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="description" content="{% if subcategoria_obj %}{{subcategoria_obj.nombre}}{% else %}{{categoria.nombre}}{% endif %}; {{prod_totales}} resultados.{% if marcas %} Marcas: {{ marcas|join:", " }}.{% endif %}{% for producto in productos|slice:":3" %}{{ producto.nombre }}. {% endfor %}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}


{% block head %}
<title>{{categoria}} - Twistore</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}" />
<link rel="stylesheet" href="{% static 'css/prod-grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/mobile-filters.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}" />
{% endcompress %}
{% endblock head %}

{% block contenidomain %}
{% if subcategoria_obj %} <h1 class="display-none">{{subcategoria_obj.nombre}}</h1> {% else %} <h1 class="display-none">{{categoria.nombre}}</h1>{% endif %}
<ul class="flex items-center justify-between filter-ordenar-box position-relative list-none width-100">
    <li class="flex items-center filter-button"><i class="bi bi-sliders"></i>Filtros</li>
    <li>{{categoria}}</li>
    <li class="flex items-center ordenar-button"><i class="bi bi-arrow-down-up"></i>Ordenar</li>
    <div class="filter-box-mobile display-none position-absolute width-100" id="filters-box-mobile">
        {% include 'partials/filtros_dinamicos_mobile.html' %}
    </div>
    <div class="ordenar-box-mobile display-none position-absolute width-100">
        <a href="#" data-orden="date" class="ordenar-opcion">Por los Últimos</a>
        <a href="#" data-orden="price_higher" class="ordenar-opcion">Por precio: Mayor a menor</a>
        <a href="#" data-orden="price_lower" class="ordenar-opcion">Por precio: Menor a mayor</a>
    </div>
</ul>
<div id="filter-active-mobile">
    {% include 'partials/filtros_activos_mobile.html' %}
</div>
<main class="product-box main-box">
    <div class="grid-container">
        {% include 'partials/product_grid.html' %}
    </div>
</main>
<div class="paginacion margin-1rem flex justify-center gap-05rem font-roboto">
    {% include 'partials/paginacion.html' %}
</div>
{% endblock contenidomain %}

{% block myscripts %}

{% if subcategoria_obj %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:subcategoria_ajax' categoria.slug subcategoria_obj.slug  %}",
    };
</script>
{% else %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:categoria_ajax' categoria=categoria.slug %}",
    };
</script>
{% endif %}

<script src="{% static 'js/dinamic-filter.js' %}"></script>
<script src="{% static 'js/mobile-filters.js' %}"></script>
{% endblock myscripts %}