{% extends 'base.html' %}
{% load static %}


{% block contenidomain %}
<div class="product-box main-box">
    <nav class="flex justify-between items-center products-nav">
        <div>
            <a href="{% url 'core:home' %}" class="decoration-none product-outside-link">Inicio</a>
            <i class="bi bi-chevron-right product-outside-link"></i>
            <span>Resultados de busqueda para: "{{query}}"</span>
        </div>
        {% include 'partials/orden_resultado.html' %}
    </nav>
    <div class="flex gap-1rem product-box-grid">
        <main class="flex justify-center flex-grow">
            <div class="grid-container">
                {% for producto, imagen_url in productos_imagen %}
                    <div class="product-card">
                        {% if imagen_url %}
                            {% include 'components/cards_dinamic.html' with img_url=imagen_url product_name=producto.nombre product_price=producto.precio only %}
                        {% else %}
                            {% include 'components/cards_static.html' with img_url='img/prod_default.jpg' product_name=producto.nombre product_price=producto.precio only %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
</div>

{% endblock contenidomain %}
