{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="description" content="Resultados de búsqueda para {{query}}. En Twinstore, encontrá lo que estás buscando.">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}

{% block head %}
<title>Busqueda - Twistore</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}" />
<link rel="stylesheet" href="{% static 'css/prod-grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}" />
{% endcompress %}
{% endblock head %}

{% block contenidomain %}
<h1 class="display-none">Busqueda {{query}}</h1>
<div class="product-box main-box">
    <nav class="flex justify-between items-center products-nav gap-1rem">
        <div>
            <a href="{% url 'core:home' %}" class="decoration-none product-outside-link font-roboto">Inicio</a>
            <i class="bi bi-chevron-right product-outside-link"></i>
            <span class="font-roboto">Resultados de busqueda para: "<strong class="font-roboto">{{query}}</strong>"</span>
        </div>
        <div id="orden-result">
            {% include 'partials/orden_resultado.html' %}
        </div>
    </nav>
    <div class="flex gap-1rem product-box-grid">
        <main class="flex justify-center">
            <div class="grid-container">
                {% include 'partials/product_grid.html' %}
            </div>
        </main>
    </div>
    <div class="paginacion margin-1rem flex justify-center gap-05rem font-roboto">
        {% include 'partials/paginacion.html' %}
    </div>
</div>
{% endblock contenidomain %}

{% block myscripts %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:buscar_productos_ajax' %}",
    };
</script>
<script src="{% static 'js/dinamic-filter.js' %}"></script>
{% endblock myscripts %}