{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Resultados de búsqueda para {{query}}. En Twinstore, encontrá lo que estás buscando.">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}

{% block contenidomain %}
<div class="product-box main-box">
    <nav class="flex justify-between items-center products-nav">
        <div>
            <a href="{% url 'core:home' %}" class="decoration-none product-outside-link">Inicio</a>
            <i class="bi bi-chevron-right product-outside-link"></i>
            <span>Resultados de busqueda para: "{{query}}"</span>
        </div>
        {% include 'partials/orden_resultado.html' %}
    </nav>
    <div class="flex gap-1rem product-box-grid">
        <main class="flex justify-center flex-grow">
            <div class="grid-container">
                {% for producto, imagen_url in productos_imagen %}
                    <div class="flex flex-column items-center justify-center product-card bg-white position-relative">
                        {% if imagen_url %}
                            {% include 'components/cards_dinamic.html' %}
                        {% else %}
                            {% include 'components/cards_static.html' %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
    <div class="paginacion margin-1rem flex width-100 justify-center gap-05rem font-roboto">
        {% include 'partials/paginacion.html' %}
    </div>
</div>

{% endblock contenidomain %}
