{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="description" content="{% if subcategoria_obj %}{{subcategoria_obj.nombre}}{% else %}{{categoria.nombre}}{% endif %}; {{prod_totales}} resultados.{% if marcas %} Marcas: {{ marcas|join:", " }}.{% endif %}{% for producto in productos|slice:":3" %}{{ producto.nombre }}. {% endfor %}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}


{% block head %}
<title>{{categoria}} - Twistore</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}" />
<link rel="stylesheet" href="{% static 'css/prod-grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/mobile-filters.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}" />
{% endcompress %}
{% endblock head %}

{% block contenidomain %}
{% if productos %}
<ul class="flex items-center justify-between filter-ordenar-box position-relative list-none width-100">
    <li class="flex items-center filter-button"><i class="bi bi-sliders"></i>Filtros</li>
    <li class="flex items-center ordenar-button"><i class="bi bi-arrow-down-up"></i>Ordenar</li>
    <div class="filter-box-mobile display-none position-absolute width-100" id="filters-box-mobile">
        <p class="filter-item">Categorias<i class="bi bi-chevron-down"></i></p>
        <div class="filter-expanded">
            {% for cat in categorias %}
                <a href="{% url 'products:categoria' seccion_id cat.slug %}" class="subfilter-link-mobile">{{cat.nombre}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="ordenar-box-mobile display-none position-absolute width-100">
        <a href="#" data-orden="date" class="ordenar-opcion">Por los Últimos</a>
        <a href="#" data-orden="price_higher" class="ordenar-opcion">Por precio: Mayor a menor</a>
        <a href="#" data-orden="price_lower" class="ordenar-opcion">Por precio: Menor a mayor</a>
    </div>
</ul>
{% endif %}
<div class="padding-10px">
    <div>
        <a href="{% url 'core:home' %}" class="decoration-none product-outside-link bloqueable font-roboto">Inicio</a>
        <i class="bi bi-chevron-right product-outside-link"></i>
        <span class="font-roboto font-bold">{{seccion_id|capfirst}}</span>
    </div>
    <span class="prods-dinamic-title font-roboto font-bold">{{seccion_id|capfirst}}</span>
    {% if productos %}<p class="font-roboto font-bold" style="color: #363636;">{{pagina.paginator.count}} Resultados</p>{% endif %}
</div>
{% if productos %}
<main class="product-box flex items-center flex-column width-100">
    <div class="grid-container">
        {% include 'partials/product_grid.html' %}
    </div>
</main>
<div class="paginacion margin-1rem flex justify-center gap-05rem font-roboto">
    {% include 'partials/paginacion.html' %}
</div>
{% else %}
<div class="flex items-center justify-center">
    <img src="{% static 'img/empty.webp' %}" height="300" width="300" alt="No hay nada aqui">
</div>
{% endif %}
{% endblock contenidomain %}

{% block myscripts %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:supercategoria_ajax' seccion_id %}",
    };
</script>
<script src="{% static 'js/dinamic-filter.js' %}"></script>
<script src="{% static 'js/mobile-filters.js' %}"></script>
{% endblock myscripts %}