{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
    <title>Confirmar mail - Twinstore</title>
{% endblock head %}
{% block headend %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}">
<link rel="stylesheet" href="{% static 'css/substyles/django-msg.css' %}">
{% endcompress %}
{% endblock headend %}

{% block contenidomain %}
<main class="padding-1rem">
    <div class="flex font-roboto flex-column users-feedback-box">
        <h2 style="text-align: center;">¡Correo de verificacion enviado!</h2>
        <div>
            <p>Te enviamos un mail con un enlace para activar tu cuenta.</p>
            <p>Revisá tu bandeja de entrada o spam. El enlace expirará en breve</p>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="django-msg-{{message.tags}} font-roboto text-center">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <a href="{% url 'users:reenviar_mail' token %}" class="font-roboto politicas-link decoration-none">¿No recibiste el correo? Reenviar verificación</a>
        <div class="flex justify-center">
            <a href="{% url 'core:home' %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer users-confirm-links">Volver a la tienda</a>
        </div>
    </div>
</main>
{% endblock contenidomain %}
