{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/login-register.css' %}">
<link rel="stylesheet" href="{% static 'css/substyles/django-msg.css' %}">
{% endcompress %}
    <style>
        .users-img-box::before {
            background-image: url("{% static 'img/users-bg.webp' %}");
        }
    </style>
{% endblock head %}

{% block contenidomain %}
<div class="padding-1rem">
    <div class="users-box">
        <div class="users-img-box position-relative">
            <div class="users-img-overlay width-100 height-100 font-roboto position-relative">
                <div class="users-title position-absolute">
                    <h1>Twinstore</h1>
                    <span>A new Hardware Experience</span>
                </div>
                <div class="users-msg position-absolute text-center">
                    <h2>Restablecer contraseña</h2>
                    <p>Segui los pasos para recuperar tu cuenta</p>
                </div>
            </div>
        </div>
        <div class="flex flex-column items-center justify-center users-form-box">
            <h2>Nueva contraseña</h2>
            <div class="flex flex-column items-center gap-1rem users-form-subbox">
                <form method="post" class="flex flex-column items-center gap-1rem">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                        {{ form.password }}
                        {{ form.password_repeat }}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="django-msg-{{message.tags}} font-roboto text-center">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button type="submit" class="users-button border-none cursor-pointer">Recuperar contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenidomain %}
