{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Pedido - Twinstore</title>
{% endblock head %}

{% block headend %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/pedidos.css' %}">
<link rel="stylesheet" href="{% static 'css/substyles/login-register.css' %}">
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}">
<link rel="stylesheet" href="{% static 'css/substyles/django-msg.css' %}">
{% endcompress %}
{% endblock headend %}

{% block contenidomain %}
<main class="padding-1rem">
    <div class="users-pedidos-box bg-white">
        {% if messages %}
            {% for mensaje in messages %}
                <p class="django-msg-{{mensaje.tags}} font-roboto text-center">{{mensaje}}</p>
            {% endfor %}
        {% endif %}
        <h1 style="font-family: 'Roboto';text-align: start;padding-bottom: 1rem;font-weight: 300;border-bottom: 1px solid #d6d6d6;margin: 1rem;">Pedido</h1>
        {% include 'partials/table_pedidos.html' %}
    </div>
    <div id="loading-overlay" class="loading-overlay position-fixed display-none flex-column items-center justify-center">
        <div class="spinner"></div>
        <p>Procesando...</p>
    </div>
</main>
{% include 'widgets/ayuda.html' %}
{% endblock contenidomain %}

{% block myscripts %}
    <script src="{% static 'js/pedido.js' %}"></script>
{% endblock myscripts %}
