<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: 'Poppins', Arial, sans-serif;; background: #f4f4f4; padding: 10px;">
    <div style="max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 8px; position: relative;">
        <img src="{{img}}" alt="Logo Twinstore" style="height: 100px; position: absolute; right: 10px; top: 10px;">
        <h2 style="color: #007BFF; width: 200px;">¡Hola!</h2>
        <br>
        <p style="text-align: center;font-size: 1.2rem"></p>
        <p style="font-size: 0.9rem;color: #686868;margin: 0;">Queríamos contarte que el comprobante <strong style="color: #3d3d3d;">ID {{pedido_id}}</strong> ha sido rechazado.</p>
        <br>
        <p style="font-size: 0.9rem;color: #000000;margin: 0;">Observaciones: {{observaciones}}</p>
        <br>
        <p style="font-size: 0.9rem;color: #686868;margin: 0;">Puedes volver a intentarlo siguendo los pasos detenidamente.</p>
        <br>
        <p style="text-align: center;">
            <a href="{{url}}" 
            style="font-weight: bold; padding: 12px 20px; background-color: #286aa7; color: white; text-decoration: none; border-radius: 5px;">
            Ver pedido →
            </a>
        </p>
    </div>
</body>
</html>