<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: 'Poppins', Arial, sans-serif;; background: #f4f4f4; padding: 10px;">
    <div style="max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 8px; position: relative;">
        <h2 style="color: #007BFF; width: 200px;">¡Hola!</h2>
        <br>
        <p style="text-align: center;font-size: 1.2rem"></p>
        <p style="font-size: 0.9rem;color: #686868;margin: 0;">Queríamos contarte que el estado de tu pedido ha cambiado:</p>
        <br>
        <p style="font-size: 0.9rem;color: #3b3b3b;margin: 0;">🛒 Pedido: <strong>{{pedido_id}}</strong></p>
        <p style="font-size: 0.9rem;color: #3b3b3b;margin: 0;">📦 Estado actual: <strong>{{estado}}</strong></p>
        <br>
        <p style="font-size: 0.9rem;color: #3f3f3f;margin: 0;">{{mensaje}}</p>
        <br>
        <p style="font-size: 1rem;color: #414141;margin: 0; font-style: italic;"><strong>¿Tenés alguna duda?</strong></p>
        <br>
        <p style="font-size: 0.9rem;color: #3f3f3f;margin: 0;">Escribinos directamente a este correo o por WhatsApp, estamos para ayudarte.</p>
        <p style="font-size: 0.9rem;color: #3f3f3f;margin: 0;">¡Gracias por confiar en Twinstore!💙</p>
        <br>
        <p style="font-size: 0.9rem;color: #3f3f3f;margin: 0;font-style: italic; text-align: center;">¿Estas arrepentido?</p>
        <br>
        <p style="font-size: 0.9rem;color: #3f3f3f;margin: 0;font-style: italic;">No te olvides de verificar nuestras <span href="#" style="text-decoration: none; color: #007BFF;">Políticas de devolución</span>.</p>
    </div>
</body>
</html>