<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: 'Poppins', Arial, sans-serif;; background: #f4f4f4; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 8px; position: relative;">
        <img src="{{img}}" alt="Logo Twinstore" style="height: 100px; position: absolute; right: 10px; top: 10px;">
    <h2 style="color: #007BFF; width: 200px;">¡Hola!</h2>
    <br>
    <p style="text-align: center;font-size: 1.2rem"></p>
    <p style="font-size: 0.9rem;color: #686868;margin: 0;">Queríamos contarte que el estado de tu pedido ha cambiado:</p>
    <br>
    <p style="font-size: 0.9rem;color: #3b3b3b;margin: 0;">🛒 Pedido: <strong>{{pedido_id}}</strong></p>
    <p style="font-size: 0.9rem;color: #3b3b3b;margin: 0;">📦 Estado actual: <strong>{{estado}}</strong></p>
    <br>
    <p style="font-size: 0.9rem;color: #3f3f3f;margin: 0;">{{mensaje}}</p>
    <br>
    <p style="font-size: 0.9rem;color: #6a73e9;margin: 0; text-align: center; font-style: italic;">Puedes ver el estado en tiempo real desde el siguente enlace:</p>
    <p style="text-align: center;">
        <a href="{{url}}" 
        style="font-weight: bold; padding: 12px 20px; background-color: #286aa7; color: white; text-decoration: none; border-radius: 5px;">
        Ver pedido →
        </a>
    </p>
    <br>
    <p style="font-size: 1rem;color: #414141;margin: 0; font-style: italic;"><strong>¿Tenés alguna duda?</strong></p>
    <br>
    <p style="font-size: 0.9rem;color: #3f3f3f;margin: 0;">Escribinos directamente a este correo o por WhatsApp, estamos para ayudarte.</p>
    <p style="font-size: 0.9rem;color: #3f3f3f;margin: 0;">¡Gracias por confiar en Twinstore!💙</p>
    </div>
</body>
</html>