{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style>
        .users-img-box::before {
            background-image: url("{% static 'img/users-bg.jpg' %}");
        }
    </style>
{% endblock head %}

{% block contenidomain %}
<main class="padding-1rem">
    <div class="users-box">
        <div class="users-img-box">
            <div class="users-img-overlay">
                <div class="users-title">
                    <h1>Funestore</h1>
                    <span>A new Hardware Experience</span>
                </div>
                <div class="users-msg">
                    <h2>¡Bienvenido!</h2>
                    <p>Iniciá sesión y continuá donde lo dejaste.</p>
                </div>
            </div>
        </div>
        <div class="users-form-box">
            <h2>Iniciar sesion</h2>
            <div class="users-form-subbox">
                <form class="user-form-main">
                    <div>
                        <input type="email" class="user-form-control" id="email" placeholder="Email" required>
                        <input type="password" class="user-form-control" id="password" placeholder="Contraseña" required>
                
                    </div>
                    <button type="submit" class="users-button">Iniciar sesion</button>
                </form>
                <a href="#">No tienes una cuenta?</a>
                <a href="#">Olvide mi contraseña</a>
            </div>
        </div>
    </div>
</main>
{% endblock contenidomain %}
