.position-relative {
  position: relative;
}

.hide {
  display: none !important;
}

.out-left {
  animation: slideOutLeft 0.5s forwards;
}

.in-right {
  animation: slideInRight 0.5s forwards;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.seo-text {
  height: 1px;
  overflow: hidden;
}

.grid-center {
  display: grid;
  place-items: center;
}

@keyframes fillBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes slideMsg {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}

@keyframes splash {
  0% {
    background-color: rgb(233, 233, 233);
  }
  100% {
    background-color: var(--bg-white);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
