<div class="link-box-footer">
    <div class="link-box-item">
        Links
    </div>
    <div class="flex justify-between links-a-list">
        <a href="#">Marcas</a>
        <a href="#">Quienes somos</a>
        <a href="{% url 'core:local' %}">Nuestro local</a>
        <a href="#">Servicio tecnico</a>
        <a href="#">Contacto</a>
    </div>
</div>
<div class="flex justify-between redes-footer">
    <div>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-whatsapp"></i>
    </div>
    <p>
        AMTech © 2024. Todos los derechos reservados.
    </p>
</div>