{% load static cache compress %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--- MetaData --->
    {% block meta %}
    {% endblock meta %}
    <!--- Config --->
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <!--- Font --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--- Styles --->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endcompress %}
    <style>
        :root {
            --primary-color: {{ config.color_primario }};
            --primary-color-2: {{ config.color_secundario }};
        }
    </style>
    <!--- Head --->
    {% block head %}
    {% endblock head %}
</head>
<body class="layout {% block theme %}{% endblock theme %}">
    <!--- Header --->
    {% cache 600 header_main request.tenant.schema_name|default:"public" request.user.id %}
    {% include 'header.html' %}
    {% endcache %}
    <!--- Main --->
    <main class="main-content">
    {% block content %}
    {% endblock content %}
    </main>
    <!--- Footer --->
    {% cache 600 footer_main request.tenant.schema_name|default:"public" %}
        {% include 'footer.html' %}
    {% endcache %}
</body>
<!--- MSG --->
{% include 'msg.html' %}
{% include 'modals.html' %}
<!--- Scripts --->
<!-- * AXIOS -->
<script src="{% static 'js/libs/axios.js' %}"></script>
{% compress js %}
<script src="{% static 'js/generic-axios.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/input.js' %}"></script>
{% endcompress %}
{% block myscripts %}
{% endblock myscripts %}
</html>