{% load static %}
<footer class="footer-main">
    <nav class="footer-nav">
        <section>
            <strong class="footer-title generic-hover">{{config.nombre_tienda}}</strong>
            <p>A new Hardware Experience</p>
        </section>
        <section>
            <strong class="footer-title generic-hover">Quick Links</strong>
            <ul>
                <li>
                    <a href="{% url 'core:contacto' %}" class="generic-hover">Contacto</a>
                </li>
                <li>
                    <a href="{% url 'core:terminos-condiciones' %}" class="generic-hover">Términos y condiciones</a>
                </li>
                <li>
                    <a href="{% url 'core:faq' %}" class="generic-hover">FAQ</a>
                </li>
                <li>
                    <a href="{% url 'core:politicas-privacidad' %}" class="generic-hover">Políticas</a>
                </li>
                <li>
                    <a href="{% url 'core:arrepentimiento' %}" class="generic-hover">Botón de arrepentimiento</a>
                </li>
            </ul>
        </section>
        <section>
            <strong class="footer-title generic-hover">Seguinos</strong>
            <div class="footer-redes">
                <a href="https://www.instagram.com/twinstore.ar" class="generic-hover" target="_blank" rel="noopener noreferrer" aria-label="Ir a Instagram de {{config.nombre_tienda}}">
                    <svg  xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                        <path d="M16.5 7.5v.01" />
                    </svg>
                </a>
                <a href="https://www.tiktok.com/@twinstore.ar" class="generic-hover" target="_blank" rel="noopener noreferrer" aria-label="Ir a TikTok de {{config.nombre_tienda}}">
                    <svg  xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" />
                    </svg>
                </a>
                <a href="https://www.linkedin.com/company/twinstore-ar/" class="generic-hover" target="_blank" rel="noopener noreferrer" aria-label="Ir a LinkedIn de {{config.nombre_tienda}}">
                    <svg  xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M8 11v5" />
                        <path d="M8 8v.01" />
                        <path d="M12 16v-5" />
                        <path d="M16 16v-3a2 2 0 1 0 -4 0" />
                        <path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" />
                    </svg>
                </a>
            </div>
        </section>
        <section>
            <strong class="footer-title generic-hover">Data Fiscal</strong>
            <a href="http://qr.afip.gob.ar/?qr=AmcUsngjrmxLlw3awoFU2w,," target="_F960AFIPInfo" class="footer-fiscal" aria-label="Ir al DATAFISCAL">
                <img src="{% static 'img/DATAWEB.jpg' %}" alt="datafiscal" height="60">
            </a>
        </section>
    </nav>
    <span>© {{ today.year }} {{config.nombre_tienda}}.</span>
</footer>