<h2>Especificaciones y detalles</h2>
<h3>Dimensiones</h3>
<table>
    <tr>
        <th>Especificación</th>
        <th>Detalle</th>
    </tr>
    <tr>
        <td>Altura</td>
        <td>290 mm</td>
    </tr>
    <tr>
        <td>Ancho</td>
        <td>75 mm</td>
    </tr>
    <tr>
        <td>Profundidad</td>
        <td>40 mm</td>
    </tr>
    <tr>
        <td>Peso</td>
        <td>121 g, sólo mouse</td>
    </tr>
    <tr>
        <td>Peso opcional adicional</td>
        <td>Hasta 18 g (5 x 3.6 g)</td>
    </tr>
    <tr>
        <td>Longitud del cable</td>
        <td>2,1 m</td>
    </tr>
</table>

<h3>Especificaciones técnicas</h3>
<table>
    <tr>
        <th>Especificación</th>
        <th>Detalle</th>
    </tr>
    <tr>
        <td>Sensor</td>
        <td>HERO</td>
    </tr>
    <tr>
        <td>Resolución</td>
        <td>100 – 25.600 dpi</td>
    </tr>
    <tr>
        <td>Aceleración máx.</td>
        <td>&gt;40 G (Pruebas realizadas en Logitech G240 Gaming Mouse Pad)</td>
    </tr>
    <tr>
        <td>Velocidad máx.</td>
        <td>&gt;400 IPS (Pruebas realizadas en Logitech G240 Gaming Mouse Pad)</td>
    </tr>
</table>

<h3>Respuesta</h3>
<table>
    <tr>
        <th>Especificación</th>
        <th>Detalle</th>
    </tr>
    <tr>
        <td>Formato de datos USB</td>
        <td>16 bits/eje</td>
    </tr>
    <tr>
        <td>Velocidad de respuesta USB</td>
        <td>1000 Hz (1 ms)</td>
    </tr>
    <tr>
        <td>Microprocesador</td>
        <td>ARM de 32 bits</td>
    </tr>
</table>

<h3>Durabilidad</h3>
<table>
    <tr>
        <th>Especificación</th>
        <th>Detalle</th>
    </tr>
    <tr>
        <td>Pies de PTFE</td>
        <td>250 kilómetros (Pruebas realizadas en Logitech G240 Gaming Mouse Pad)</td>
    </tr>
</table>

<h3>Otras funciones</h3>
<ul>
    <li>Memoria integrada: Hasta 5 perfiles (requiere firmware 127.1.7)</li>
    <li>RGB LIGHTSYNC: 1 zona</li>
</ul>