<section class="swiper-box">
    <h2 class="landing-title">{{seccion.titulo}} <strong>{{seccion.subtitulo}}</strong></h2>
    <section class="swiper products-swiper" data-speed="800" data-delay="3500" data-pagination=".pagination-destacados" data-bullets="2">
        <div class="swiper-wrapper">
            {% for producto in seccion.productos_list %}
            <div class="swiper-slide">
                {% include 'components/product_card_line.html' %}
            </div>
            {% endfor %}
        </div>
    </section>
    <div class="swiper-pagination pagination-destacados"></div>
</section>