<div class="result-productos-column flex">
    <a href="#" class="result-productos-titulo">Periféricos</a>
    <a href="#" class="hover-pad-weight">Teclados</a>
    <a href="#" class="hover-pad-weight">Mouse</a>
    <a href="#" class="hover-pad-weight">Auriculares</a>
    <a href="#" class="hover-pad-weight">Monitores</a>
    <a href="#" class="result-productos-titulo">Accesorios</a>
    <a href="#" class="hover-pad-weight">Mouse Pads</a>
    <a href="#" class="hover-pad-weight">LEDs RBG</a>
</div>
<div class="result-productos-column flex">
    <a href="#" class="result-productos-titulo">PCs Gaming</a>
    <a href="#" class="hover-pad-weight">Categoria A</a>
    <a href="#" class="hover-pad-weight">Categoria B</a>
    <a href="#" class="hover-pad-weight">Categoria C</a>
</div>
<div class="result-productos-column flex">
    <a href="#" class="result-productos-titulo">Otros</a>
    <a href="#" class="hover-pad-weight">Coolers</a>
</div>






