{% extends 'base.html' %}
{% block contenidomain %}
<main class="padding-1rem">
    <div class="users-facturacion-box">
        <div>
            <h2>Ya estas a un paso!</h2>
            <p>Completa tus datos para finalizar</p>
        </div>
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="YU5Afuq61mPvFr0cx5NOSFfS71bnT2P321TieGqfD3ZMV98H3xqV6lAux33XoNdl">
            <div class="users-facturacion-type">
                <label for="id_tipo_factura">Tipo de Factura:</label>
                <select name="tipo_factura" id="id_tipo_factura">
                    <option value="A">IVA Responsable Inscripto</option>
                    <option value="B">Comsumidor Final</option>
                    <option value="C">Monotributista</option>
                </select>
            </div>
            <div class="users-facturacion-form">
                <input type="text" name="razon_social" maxlength="255" required id="id_razon_social" placeholder="Razon Social">
                <input type="text" name="dni_cuit" maxlength="20" required id="id_dni_cuit" placeholder="DNI">
            </div>
            <input class="users-facturacion-email" type="email" placeholder="Email">
            <button type="submit" class="users-facturacion-button">Guardar</button>
        </form>
    </div>
</main>
<script>
    function actualizarCamposSegunFactura() {
        const tipoFactura = document.querySelector('#id_tipo_factura').value;
        const razonSocialGroup = document.getElementById('id_razon_social');
        const dniCuitPlace = document.getElementById('id_dni_cuit');

        if (tipoFactura === 'A' || tipoFactura === 'C') {
        razonSocialGroup.style.display = 'block';
        dniCuitPlace.placeholder= 'CUIT';
        } else {
        razonSocialGroup.style.display = 'none';
        document.querySelector('#id_razon_social').value = '';
        dniCuitPlace.placeholder = 'DNI';
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        actualizarCamposSegunFactura();
        document.querySelector('#id_tipo_factura').addEventListener('change', actualizarCamposSegunFactura);
    });
</script>
{% endblock contenidomain %}
