{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Twinstore</title>
{% endblock head %}

{% block contenidomain %}
    <main>
        <h1 style="text-align: center;min-height: 10rem;">Twinstore</h1>
    </main>
    {% if messages %}
        {% for message in messages %}
            <div class="notification-mainpage position-fixed">
                <div class="flex flex-column text-center notification-item django-msg-{{message.tags}} font-roboto">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock contenidomain %}