{% load custom_filters %}
{% if producto.descuento > 0 %}
    {% include 'components/descuento.html' %}
{% endif %}
<a href="{% url 'products:slug_dispatcher' producto.slug %}" class="decoration-none width-100 flex flex-column items-center">
    <div class="flex items-center justify-center product-card-img">
        <img src="{{producto.portada.url}}" alt="{{ producto.nombre }}" loading="lazy">
    </div>
    <span class="display-block width-100 text-center font-bold font-roboto prod-name">{{ producto.nombre }}</span>
    {% if producto.descuento > 0 %}
        <div class="product-descount-box">
            <p class="precio-anterior">{{ producto.precio_anterior|formato_pesos }}</p>
            <p class="precio-descuento font-roboto">
                {{ producto.precio|formato_pesos }}
            </p>
        </div>
    {% else %}
        <p class="prod-precio font-roboto font-bold text-center">{{producto.precio|formato_pesos}}</p>
    {% endif %}
    <strong class="{{strong}}">Ver mas</strong>
</a>
