{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% load custom_filters %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block head %}
<title>Compra exitosa - Twinstore</title>
{% endblock head %}
{% block headend %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}">
{% endcompress %}
{% endblock headend %}

{% block contenidomain %}
<div class="padding-1rem">
    <div class="flex font-roboto flex-column users-feedback-box">
        <h2 class="text-center">¡Gracias por tu compra!</h2>
        <p class="text-center">🎉 ¡Hemos recibido tu pedido con exito! 🎉</p>
        {% if historial.forma_de_pago == 'transferencia' %}
            <div class="users-facturacion-transferencia font-roboto">
                <h3>Pago por transferencia bancaria</h3><br>
                {% if user.is_authenticated %}
                    <p><i class="bi bi-check2"></i> Subí tu comprobante desde la sección <strong>"Mis pedidos"</strong>.</p>
                {% else %}
                    <p><i class="bi bi-check2"></i> Subí tu comprobante ingresando en tu <a href="{% url 'users:ver_pedidos' historial.token_consulta %}" class="politicas-link">Pedido</a>.</p>
                {% endif %}
                <p><i class="bi bi-check2-all"></i> Una vez validado el pago, te notificaremos por correo electrónico.</p><br>
                <div class="link-comprobante-box">
                    <a href="{% url 'payment:comprobante' historial.token_consulta %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer link-comprobante-button decoration-none">
                        Subir comprobante ahora
                    </a>
                </div>
            </div>
        {% endif %}
        {% if historial.forma_de_pago == 'mixto' %}
            <div class="users-facturacion-transferencia font-roboto">
                <h3 class="font-roboto">Pago mixto (Transferencia + MP)</h3><br>
                {% if user.is_authenticated %}
                    <p><i class="bi bi-check2"></i> Subí tu comprobante y generá el link de pago desde la sección <strong>"Mis pedidos"</strong>.</p>
                {% else %}
                    <p><i class="bi bi-check2"></i> Subí tu comprobante y generá el link de pago desde la vista de tu <a href="{% url 'users:ver_pedidos' historial.token_consulta %}" class="politicas-link">Pedido</a>.</p>
                {% endif %}
                <p><i class="bi bi-check2-all"></i> Una vez validado los pagos, te notificaremos por correo electrónico.</p><br>
                {% if user.is_authenticated %}
                    <div class="link-comprobante-box">
                        <a href="{% url 'users:ver_pedidos' historial.token_consulta %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer link-comprobante-button decoration-none">
                            Ver pedido
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if historial.forma_de_pago == 'efectivo' %}
            <div class="users-facturacion-transferencia font-roboto">
                <h3 class="font-roboto">Pago de contado</h3><br>
                {% if user.is_authenticated %}
                    <p><i class="bi bi-check2"></i> Puedes ver el estado de tu pedido en la sección <strong>"Mis pedidos"</strong>.</p>
                {% else %}
                    <p><i class="bi bi-check2"></i> Puedes ver el estado de tu pedido desde la sección <strong>"Pedidos"</strong> ingresando tu código de seguimiento.</p>
                {% endif %}
                <p><i class="bi bi-check2-all"></i> Algunos productos pueden requerir un pago anticipado para asegurar su disponibilidad. En estos casos, se coordinará con el staff.</p><br>
                {% if user.is_authenticated %}
                    <div class="link-comprobante-box">
                        <a href="{% url 'users:ver_pedidos' historial.token_consulta %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer link-comprobante-button decoration-none">
                            Ver pedido
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if historial.forma_de_pago == 'mercado pago' %}
            <div class="users-facturacion-transferencia font-roboto">
                <h3 class="font-roboto">Pago con Mercado Pago</h3><br>
                {% if user.is_authenticated %}
                    <p><i class="bi bi-check2"></i> Puedes ver el estado de tu pedido en la sección <strong>"Mis pedidos"</strong>.</p>
                {% else %}
                    <p><i class="bi bi-check2"></i> Puedes ver el estado de tu pedido desde la sección <strong>"Pedidos"</strong> ingresando tu código de seguimiento.</p>
                {% endif %}
            </div>
        {% endif %}
        <div>
            {% if user.is_authenticated %}
                <p>🏷️ Puedes ver el estado de tu compra en "Mis Pedidos"</p>
            {% else %}
                {% if historial %}
                    <p>🏷️ Este es tu codigo de seguimiento:</p>
                    <p><strong>{{ historial.token_consulta }}</strong></p>
                {% else %}
                    <p>🏷️ Tu codigo de seguimiento se está generando...</code></p>
                {% endif %}
            {% endif %}
            <p>📨 En breve recibirás un correo con todos los detalles.</p>
            <p>👉 Si tenés dudas, podés <a href="{% url 'core:contacto' %}" class="decoration-none politicas-link">contactarnos</a>.</p>
        </div>
        <div class="flex justify-between">
            <a href="{% url 'core:home' %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer users-confirm-links">Volver a la tienda</a>
            {% if user.is_authenticated %}
                <a href="{% url 'users:mispedidos' %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer users-confirm-links">Mis pedidos</a>
            {% else %}
                {% if historial %}
                    <a href="{% url 'users:ver_pedidos' historial.token_consulta %}" class="tw-hover-button border-none font-roboto font-bold cursor-pointer users-confirm-links">Ver Pedido</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock contenidomain %}
