{% extends 'base.html' %}
{% load static custom_filters compress %}

{% block meta %}
{% include 'components/view/prod-meta.html' %}
{% endblock meta %}


{% block head %}
<title>{{producto.nombre}} - {{config.nombre_tienda}}</title>
<link rel="stylesheet" href="{% static 'css/libs/swiper-bundle.min.css' %}">
{% endblock head %}

{% block theme %}product{% endblock theme %}

{% block content %}
<div class="grid-center">
    <section class="product-view">
        <div class="product-gallery">
            {% include 'components/view/prod-swipers.html' %}
        </div>
        <div class="product-info">
            {% include 'components/view/prod-info.html' %}
        </div>
    </section>
    <section class="product-view specs">
        <div class="product-specs">
            {% include 'components/view/prod-specs.html' %}
        </div>
        <div class="product-clients">
            {% include 'components/view/prod-reviews.html' %}
        </div>
    </section>
    {% include 'components/view/medios-pago.html' %}
</div>
{% endblock content %}

{% block myscripts %}
{% compress js %}
<script src="{% static 'js/prodView.js' %}"></script>
{% endcompress %}
<script src="{% static 'js/libs/swiper.js' %}"></script>
<script nonce="{{ request.csp_nonce }}">
    const thumbsConf = {
    spaceBetween: 8,
    slidesPerView: 'auto',
    freeMode: true,
    watchSlidesProgress: true,
    watchSlidesVisibility: true,
  }

document.querySelectorAll(".thumbs-swiper").forEach((thumb) => {
  const thumbsSwiper = new Swiper(thumb, thumbsConf);

  const index = thumb.dataset.index;
  const main = document.querySelector(`.img-color-${index}`);

  const mainSwiper = new Swiper(main, {
    spaceBetween: 16,
    zoom: true,
    thumbs: { swiper: thumbsSwiper },
  });
});
</script>
{% endblock myscripts %}
