{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="description" content="Resultados de búsqueda para {{query}}. En Twinstore, encontrá lo que estás buscando.">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}

{% block head %}
<title>Busqueda - Twinstore</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}" />
<link rel="stylesheet" href="{% static 'css/prod-grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}" />
{% endcompress %}
{% endblock head %}

{% block contenidomain %}
<h1 class="display-none">Busqueda {{query}}</h1>
<div class="product-box flex items-center flex-column width-100">
    <nav class="flex justify-between items-center products-nav">
        <div>
            <span class="font-roboto">Resultados de: "<strong class="font-roboto">{% if query %}{{query}}{% else %} {% endif %}</strong>"</span>
        </div>
        <div id="orden-result">
            {% include 'partials/orden_resultado.html' %}
        </div>
    </nav>
    {% if productos %}
    <div class="flex gap-1rem product-box-grid">
        <div class="flex justify-center">
            <div class="grid-container">
                {% include 'partials/product_grid.html' %}
            </div>
        </div>
    </div>
    <div class="paginacion margin-1rem flex justify-center gap-05rem font-roboto">
        {% include 'partials/paginacion.html' %}
    </div>
    {% else %}
    <div class="flex items-center justify-center">
        <img src="{% static 'img/empty.webp' %}" height="300" width="300" alt="No hay nada aqui">
    </div>
    {% endif %}
</div>
{% endblock contenidomain %}

{% block myscripts %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:buscar_productos_ajax' %}",
    };
</script>
<script src="{% static 'js/dinamic-filter.js' %}"></script>
{% endblock myscripts %}