{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block meta %}
<meta name="description" content="{{seccion_id|capfirst}}; {{pagina.paginator.count}} resultados. {% for producto in productos|slice:":5" %}{{ producto.nombre }}. {% endfor %}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Twinstore">
<meta property="og:description" content="Los mejores productos en un solo lugar. Tu casa, tu tienda. Twinstore">
<meta property="og:image" content="{% static 'img/mail.webp' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta %}

{% block head %}
<title>{{seccion_id|capfirst}} - Twistore</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'css/substyles/feedback-users.css' %}" />
<link rel="stylesheet" href="{% static 'css/prod-grid.css' %}" />
<link rel="stylesheet" href="{% static 'css/substyles/prod-card.css' %}" />
{% endcompress %}
{% endblock head %}

{% block contenidomain %}
<div class="product-box flex items-center flex-column width-100">
    <nav class="flex justify-between items-center items-start products-nav">
        <div>
            <div class="product-links-box">
                <a href="{% url 'core:home' %}" class="decoration-none product-outside-link bloqueable font-roboto">Inicio</a>
                <i class="bi bi-chevron-right product-outside-link"></i>
                <span class="font-roboto font-bold">{{seccion_id|capfirst}}</span>
            </div>
            <h1 class="prods-dinamic-title font-roboto font-bold">{{seccion_id|capfirst}}</h1>
            <div id="productos-count">
                {% include 'partials/productos_count.html' %}
            </div>
        </div>
        <div id="orden-result">
            {% include 'partials/orden_resultado.html' %}
        </div>
    </nav>
    {% if productos %}
    <div class="flex gap-1rem product-box-grid">
        <div class="flex flex-column filter-box">
            <div>
                <span class="filter-title display-block font-bold width-100">Categorías</span>
                <ul class="list-none">
                {% for cat in categorias %}
                    <li>
                        <a class="decoration-none sub-filter-link bloqueable"
                            href="{% url 'products:categoria' seccion_id cat.slug %}">
                            {{ cat.nombre }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div style="border-right: 2px solid #bbbbbb"></div>
        <main class="flex justify-center">
            <div class="grid-container">
                {% include 'partials/product_grid.html' %}
            </div>
        </main>
    </div>
    <div class="paginacion margin-1rem flex justify-center gap-05rem font-roboto">
        {% include 'partials/paginacion.html' %}
    </div>
    <div id="loading-overlay" class="loading-overlay position-fixed display-none flex-column items-center justify-center">
        <div class="spinner"></div>
        <p>Procesando...</p>
    </div>
    {% else %}
    <div class="flex items-center justify-center">
        <img src="{% static 'img/empty.webp' %}" height="600" width="600" alt="No hay nada aqui">
    </div>
    {% endif %}
</div>
{% endblock contenidomain %}
{% block myscripts %}
<script nonce="{{ request.csp_nonce }}">
    window.filters = {
        apiUrl: "{% url 'products:supercategoria_ajax' seccion_id %}",
    };
</script>
<script src="{% static 'js/dinamic-filter.js' %}"></script>
{% endblock myscripts %}
