{% load custom_filters %}
<div class="flex font-roboto flex-column users-feedback-box modal-content position-relative">
    <button id="close-comprobante-modal" type="button" class="modal-cerrar border-none cursor-pointer position-absolute btn-absolute">
        <i class="bi bi-x-lg"></i>
    </button>
    <h2 class="text-center">Subí tu comprobante</h2>
    <div>
        <p><i class="bi bi-paperclip"></i> Usá el ID de pago como **referencia en tu transferencia**.</p>
        <p><i class="bi bi-bank2"></i> Alias: <strong>twinstore.ar</strong> (Santiago Aguirre Moretto | Mercado Pago).</p>
        <p><i class="bi bi-check2"></i><strong> ID de pago:</strong> <code>{{ historial.merchant_order_id }}</code></p>
        <p><i class="bi bi-cash-stack"></i> Monto a transferir: {{historial.monto_tranferir|formato_pesos}}</p>
        <p><i class="bi bi-info-lg"></i> Subí el comprobante en formato <strong>JPG, JPEG, PNG</strong> o <strong>PDF</strong>.</p>
        <p><i class="bi bi-file-earmark-excel"></i> El archivo seleccionado no puede superar los <strong>2MB</strong>.</p>
    </div>
    <form method="post" action="{% url 'payment:comprobante' historial.id|signing_data %}" enctype="multipart/form-data" class="flex flex-column gap-1rem items-center">
        {% csrf_token %}
        {{ form.file }}
        <label for="{{ form.file.id_for_label }}" class="label-subir-comprobante flex items-center justify-center font-roboto padding-10px text-center" id="label-file">
            <i class="bi bi-file-earmark-arrow-down"></i>
            Archivo
        </label>
        <button class="button-subir-comprobante border-none font-roboto" type="submit" id="button-subir">Subir Comprobante</button>
    </form>
</div>