<div class="modal" id="fail-modal">
    <section class="flex font-roboto flex-column users-feedback-box modal-content position-relative">
        <button id="close-fail-modal" type="button" class="modal-cerrar border-none cursor-pointer position-absolute btn-absolute">
            <i class="bi bi-x-lg"></i>
        </button>
        <h2 class="text-center">❌ ¡Ups! Algo salió mal. ❌</h2>
        <p>No pudimos procesar tu pago o el mismo fue rechazado.</p>
        <div>
            <p>Te recomendamos:</p>
            <ul class="users-failpay">
                <li><i class="bi bi-check"></i> Verificar los datos de tu medio de pago.</li>
                <li><i class="bi bi-check"></i> Volver a intentarlo en unos minutos.</li>
                <li><i class="bi bi-check"></i> Si el problema persiste, <a href="{% url 'core:contacto' %}" class="politicas-link decoration-none">contáctanos</a>.</li>
            </ul>
        </div>
    </section>
</div>