<div class="modal" id="success-modal">
    <section class="flex font-roboto flex-column modal-content users-feedback-box position-relative">
        <button id="close-success-modal" type="button" class="modal-cerrar border-none cursor-pointer position-absolute btn-absolute">
            <i class="bi bi-x-lg"></i>
        </button>
        <h2 class="text-center">¡Gracias por tu compra!</h2>
        <p class="text-center">🎉 ¡Hemos recibido tu pedido con exito! 🎉</p>
        {% if pedido.forma_de_pago == 'transferencia' %}
            <div class="users-facturacion-transferencia font-roboto">
                <h3>Pago por transferencia bancaria</h3><br>
                <p><i class="bi bi-check2"></i> Subí tu comprobante siguendo las instrucciones.</p>
                <p><i class="bi bi-check2-all"></i> Una vez validada la transferencia, se impactará en el estado del pedido.</p><br>
            </div>
        {% endif %}
        {% if pedido.forma_de_pago == 'mixto' %}
            <div class="users-facturacion-transferencia font-roboto">
                <h3 class="font-roboto">Pago mixto (Transferencia + MP)</h3><br>
                <p><i class="bi bi-check2"></i> Subí tu comprobante y generá el link de pago.</p>
                <p><i class="bi bi-check2-all"></i> Una vez validado los pagos, se impactará en el estado del pedido.</p><br>
            </div>
        {% endif %}
        {% if pedido.forma_de_pago == 'efectivo' %}
            <div class="users-facturacion-transferencia font-roboto">
                <h3 class="font-roboto">Pago de contado</h3><br>
                <p><i class="bi bi-check2-all"></i> Algunos productos pueden requerir un pago anticipado para asegurar su disponibilidad. En estos casos, se coordinará con el staff.</p>
            </div>
        {% endif %}
        {% if pedido.forma_de_pago == 'mercadopago' %}
            <div class="users-facturacion-transferencia font-roboto">
                <h3 class="font-roboto">Pago con Mercado Pago</h3><br>
                <p><i class="bi bi-check2"></i> Generá el link de pago y aboná.</p>
                <p><i class="bi bi-check2-all"></i> Una vez validado el pago, se impactará en el estado del pedido.</p><br>
            </div>
        {% endif %}
        <div>
            <p>🏷️ Este es tu código de seguimiento:</p>
            <p class="text-center"><strong>{{ pedido.token_consulta }}</strong></p>
            <p>📨 En breve recibirás un correo con todos los detalles.</p>
            <p>👉 Si tenés dudas, podés <a href="#" class="decoration-none politicas-link">contactarnos</a>.</p>
        </div>
    </section>
</div>